<app-menu></app-menu>
<div class="container-fluid main">
  <div class="form-row">
    <h4 class="mt-3">Gestión Orden de trabajo/Factura</h4>
  </div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#orden">Gestión Orden</a>
    </li> 
    <li class="nav-item" *ngIf="facturaOrdenActivo">
      <a class="nav-link" data-toggle="tab" href="#factura">Gestión Factura</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane container-fluid active" id="orden">
      <br />
      <div class="form-row">
        <div class="form-group col-md-2 col-sm-12 ">
          <button type="button" class="btn btn-primary " id="anterior"
            (click)="teclaAnteriorSiguiente('anterior')">Anterior</button>

          <button type="button" class="btn btn-primary ml-2" id="siguiente"
            (click)="teclaAnteriorSiguiente('siguiente')">Siguiente</button>
        </div>
        <div class="form-group col-md-2 col-sm-12 ">
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#buscarModal">
            Buscar
          </button>
          <button type="button" class="btn btn-primary ml-2" data-toggle="modal" data-target="#imprimirModal">
            Imprimir
          </button>
        </div>
        <div class="form-group col-md-4 col-sm-12 ">
          <button type="button" class="btn btn-primary " id="Nueva" (click)="nuevaOrden()">Nueva Orden de
            trabajo</button>
          <button type="button" class="btn btn-primary ml-2" data-toggle="modal" data-target="#entregarModal">
            Entregar Pedido
          </button>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <b>Usuario Que crea:</b> {{nombreUsuario()}}
        </div>
        <div class="form-group col-md-4">
          <b># Orden de pedido:</b> {{documento.documento_id}}
        </div>
        <div class="form-group col-md-4">
          <b>Fecha entrada:</b> {{documento.fecha_registro | date: 'dd/MM/yyyy, h:mm a'}}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4 col-sm-2">
          <b>Fecha entrega:</b> {{documento.fecha_entrega | date: 'dd/MM/yyyy, h:mm a'}}
        </div>
        <div class="form-group col-md-4 col-sm-2">
          <input list="browsers" name="clientePV" #clientePV placeholder="Cliente" [disabled]="documento.impreso==1"
            class="form-control" id="clientePV" (change)="clienteSelectFun(clientePV)">
          <datalist id="browsers">
            <option *ngFor="let cliente of clientes" [value]="cliente.nombre">
              Identificación: {{cliente.documento}} id:{{cliente.cliente_id}}
            </option>
          </datalist>
        </div>
        <div class="form-group col-md-4 col-sm-2 upper">
          <input class="form-control upper" id="placa" placeholder="* Placa" [disabled]="documento.impreso==1"
            name="placa" #placa required (blur)="agregarPlaca(placa)">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-4 col-sm-2">
          <input list="marcas" name="marca" #marca placeholder="Marca" class="form-control" id="marca"
            (change)="marcaSelect(marca)">
          <datalist id="marcas">
            <option *ngFor="let mar of marcaList" [value]="mar.nombre">
            </option>
          </datalist>
        </div>
        <div class="form-group col-md-4 col-sm-2">
          <input list="modelos" name="modelo" #modelo placeholder="modelo" [disabled]="documento.impreso==1"
            class="form-control" id="modelo" (change)="guardarModelo(modelo)">
          <datalist id="modelos">
            <option *ngFor="let model of modeloList" [value]="model.nombre">
            </option>
          </datalist>
        </div>
        <div class="form-group col-md-4 col-sm-2">
          <select class="form-control" id="linea" placeholder="Marca" [disabled]="documento.impreso==1" #linea
            (change)="asignarLinea(linea)">
            <option>Seleccione Linea</option>
            <option>Automovil</option>
            <option>Camioneta - Campero</option>
            <option>Moto</option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 col-sm-1">
          <textarea class="form-control mb-2" id="descripcionCliente" [disabled]="documento.impreso==1"
            #descripcionCliente placeholder="Descripción cliente" required
            (blur)="agregarDescripcionCliente(descripcionCliente)"></textarea>
          <textarea class="form-control " (blur)="agregarObservacion(observacion)" [disabled]="documento.impreso==1"
            id="observacion" #observacion placeholder="Observación" required></textarea>
        </div>
        <div class="form-group col-md-6 col-sm-1">
          <div class="container" *ngIf="downloadURL | async; let url">
            <img [src]="url" alt="Image from AngularFireStorage" width="100%" height="200px">
          </div>
          <div class="container" *ngIf="downloadURLLocal ; let url">
            <img [src]="url" alt="Image from AngularFireStorage" width="100%" height="200px">
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4 col-sm-2" *ngIf="empleadoOrdenActivo">
          <input list="browsersEmpreados" name="empleadoPV" #empleadoPV [disabled]="documento.impreso==1"
            placeholder="Empleado" class="form-control" id="empleadoPV" (change)="empleadoSelectFun(empleadoPV)">
          <datalist id="browsersEmpreados">
            <option *ngFor="let empleado of empleados" [value]="empleado.nombre">
              {{empleado.apellido}}
            </option>
          </datalist>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6 col-sm-1">
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" [disabled]="documento.impreso==1"
            data-target="#exampleModal">
            Agregar repuesto
          </button>
        </div>
        <div class="form-group col-md-6 col-sm-1">
          <h5>Total Orden: ${{formatearNumber(documento.total)}}</h5>
        </div>
      </div>
      <br />

      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Opciones</th>
            <th scope="col">Nombre</th>
            <th scope="col">Cant.</th>
            <th scope="col" class="d-none d-sm-block">Precio Compra</th>
            <th scope="col">Total</th>
            <th scope="col" class="d-none d-sm-block">Precio Venta</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ordenes of detallesList">
            <th scope="row">
              <button type="button" (click)="editarItem(ordenes)" [disabled]="documento.impreso==1"
                class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#exampleModal">
                Editar
              </button>
              <!-- Button trigger modal -->
              <button type="button" (click)="eliminarItem(ordenes)" [disabled]="documento.impreso==1"
                class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#eliminarModal">
                Eliminar
              </button>
            </th>
            <td>{{ordenes.descripcion}}</td>
            <td>{{ordenes.cantidad}}</td>
            <td class="d-none d-sm-block">${{formatearNumber(ordenes.unitario)}}</td>
            <td>${{formatearNumber(ordenes.parcial)}}</td>
            <td class="d-none d-sm-block">${{formatearNumber(ordenes.impreso_comanda)}}</td>

          </tr>
        </tbody>
      </table>

      <!-- Modal nuevo repuesto-->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Agregar repuesto</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-row">
                <div class="form-group col-md-6 col-sm-2" *ngIf="productoFijoActivo">
                  Artículo
                  <input list="articulos" name="articuloC" [value]="articuloPV" #articuloC placeholder="Articulo"
                    class="form-control" id="articuloC" (change)="articuloSelect(articuloC)">
                  <datalist id="articulos">
                    <option *ngFor="let producto of productosAll" [value]="producto.nombre">
                      Costo:{{producto.costo_publico}} Cantidad:{{producto.cantidad}} id:{{producto.producto_id}}
                    </option>
                  </datalist>
                </div>
                <div class="form-group col-md-6 col-sm-2" *ngIf="!productoFijoActivo">
                  Artículo
                  <textarea class="form-control " id="item" #item placeholder="Nombre repuesto" required></textarea>
                </div>
                <div class="form-group col-md-6 col-sm-2">
                  Cantidad
                  <input class="form-control" id="cantidad" type="number" placeholder="* Cantidad" name="cantidad"
                    #cantidad required>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6 col-sm-2">
                  Precio compra
                  <input class="form-control" id="pCompra" type="number" placeholder="* Precio de compra" name="pCompra"
                    #pCompra required>
                </div>
                <div class="form-group col-md-6 col-sm-2">
                  Precio venta
                  <input class="form-control" id="pVenta" type="number" placeholder="* Precio de venta" name="pVenta"
                    #pVenta required>
                </div>
              </div>
              <br />
              <div class="form-row">

                <div class="form-group col-md-12 col-sm-1">
                  <input type="file" class="form-control-file" capture="camera" #fotoRepuesto id="fotoRepuesto"
                    aria-describedby="fileHelp">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6 col-sm-1">
                  <div class="container" *ngIf="downloadURL2 | async; let url2">
                    <img [src]="url2" alt="Image from AngularFireStorage" width="100%" height="200px">
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-primary" (click)="agregardetalle()">Agregar</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Eliminar Modal -->
      <div class="modal fade" id="eliminarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Eliminar Repuesto</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Esta seguro de eliminar este repuesto?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-primary" (click)="eliminar()">Eliminar</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal buscar -->
      <div class="modal fade  bd-example-modal-xl" id="buscarModal" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Buscar Orden de trabajo</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-row">
                <div class="form-group col-md-6 col-sm-1">
                  Fecha Inicial
                  <input class="form-control" type="date" value="2020-01-01" id="fechaIni" #fechaIni>
                </div>
                <div class="form-group col-md-6 col-sm-1">
                  Fecha Final
                  <input class="form-control" type="date" value="2020-12-31" id="fechaFin" #fechaFin>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6 col-sm-2">
                  <input list="browsers2" name="clienteBuscarPV" #clienteBuscarPV placeholder="Cliente"
                    class="form-control" id="clienteBuscarPV">
                  <datalist id="browsers2">
                    <option *ngFor="let cliente of clientes" [value]="cliente.nombre">
                      Identificación: {{cliente.documento}} id:{{cliente.cliente_id}}
                    </option>
                  </datalist>
                </div>
                <div class="form-group col-md-6 col-sm-2">
                  <input class="form-control" id="placaBuscar" placeholder="Placa" name="placaBuscar" #placaBuscar
                    required>
                </div>


              </div>
              <button type="button" class="btn btn-primary"
                (click)="buscarOrdenes(placaBuscar,clienteBuscarPV,fechaIni,fechaFin)">Buscar</button>
              <button type="button" class="btn btn-primary ml-2"
                (click)="buscarOrdenesHoy(placaBuscar,clienteBuscarPV)">Buscar de Hoy</button>
              <br />
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Opciones</th>
                    <th scope="col"># Orden</th>
                    <th scope="col">Nombre Cliente</th>
                    <th scope="col">Placa</th>
                    <th scope="col">Encargado</th>
                    <th scope="col" class="d-none d-sm-block">Fecha</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let ordenes of ordenesBuscarList">
                    <th scope="row">
                      <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" title="Editar"
                        (click)="editarOrden(ordenes)">
                        <i class="far fa-edit"></i>
                      </button>
                      <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" title="Duplicar orden"
                      (click)="duplicarOrden(ordenes)">
                      <i class="far fa-copy"></i>
                    </button>
                    </th>
                    <td>{{ordenes.documento_id}}</td>
                    <td>{{nombreClienteFun(ordenes.cliente_id)}}</td>
                    <td>{{ordenes.detalle_entrada}}</td>
                    <td>{{nombreUsuarioFiltro(ordenes.usuario_id)}}</td>
                    <td class="d-none d-sm-block">{{ordenes.fecha_registro | date: 'dd/MM/yyyy, h:mm a'}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- Eliminar Modal -->
      <div class="modal fade" id="entregarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Entregar Pedido</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Esta seguro de entregar el pedido y cerrar la orden?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-primary" (click)="entregar()">Entregar</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal imprimir-->
      <div class="modal fade bd-example-modal-sm" id="imprimirModal" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Imprimir Orden de trabajo</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
            
              <div class="form-row">
                <div class="form-group col-md-12 col-sm-12">
                  Digite el número de impresora:
                </div>
                <div class="form-group col-md-12 col-sm-12">
                  <select class="form-control" #impresoraOrden id="impresoraOrden">
                    <option *ngFor="let imp of impresoraEmpresa" value="{{imp.numero_impresora}}">{{imp.nombre_impresora}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-primary" (click)="imprimirOrden(impresoraOrden)">Imprimir</button>
            </div>
          </div>
        </div>
      </div>

      <!-- crear cliente Modal -->
      <div class="modal fade" id="crearClienteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Crear Cliente</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-row">
                <div class="form-group col-md-6 col-sm-6">
                  Primer nombre
                  <input class="form-control" id="nombreCliente" placeholder="* Nombres cliente" name="nombreCliente"
                    #nombreCliente required [(ngModel)]="clienteNew.nombre">
                </div>
                <div class="form-group col-md-6 col-sm-6">
                  Segundo Nombre
                  <input class="form-control" id="segundoNombreCliente" placeholder="Segundo Nombre"
                    name="segundoNombreCliente" #segundoNombreCliente required [(ngModel)]="clienteNew.segundo_nombre">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6 col-sm-6">
                  Primer Apellido
                  <input class="form-control" id="apellidoCliente" placeholder=" Apellidos cliente"
                    name="apellidoCliente" #apellidoCliente required [(ngModel)]="clienteNew.apellidos">
                </div>
                <div class="form-group col-md-6 col-sm-6">
                  Segundo Apellido
                  <input class="form-control" id="segundoApellidoCliente" placeholder=" Segundo Apellidos"
                    name="segundoApellidoCliente" #segundoApellidoCliente required
                    [(ngModel)]="clienteNew.segundo_apellido">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6 col-sm-6">
                  Tipo Identificación
                  <select id="tipoIdentificacion" name="pagoPV" #tipoIdentificacion placeholder=""
                    [(ngModel)]="clienteNew.tipo_identificacion_id" class="form-control">
                    <option value="">Seleccione</option>
                    <option *ngFor="let pago of tipoIdentificacionList" [value]="pago.tipo_identificacion_id">
                      {{pago.nombre_corto}} {{pago.nombre}}
                    </option>
                  </select>
                </div>
                <div class="form-group col-md-6 col-sm-6">
                  Identificación
                  <input class="form-control" id="documentoCliente" placeholder="* Documento cliente"
                    name="documentoCliente" #documentoCliente required [(ngModel)]="clienteNew.documento">
                </div>

              </div>
              <div class="form-row">
                <div class="form-group col-md-6 col-sm-6">
                  Dirección Cliente
                  <input class="form-control" id="direccionCliente" placeholder="* Dirección cliente"
                    name="direccionCliente" #direccionCliente required [(ngModel)]="clienteNew.direccion">
                </div>
                <div class="form-group col-md-6 col-sm-6">
                  Fijo
                  <input class="form-control" id="fijoCliente" placeholder="* Fijo cliente" name="fijoCliente"
                    #fijoCliente required [(ngModel)]="clienteNew.fijo">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6 col-sm-6">
                  Mail
                  <input class="form-control" id="mailCliente" placeholder="* Correo cliente" name="mailCliente"
                    #mailCliente required [(ngModel)]="clienteNew.mail">
                </div>
                <div class="form-group col-md-6 col-sm-6">
                </div>
              </div>
            </div>


            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-primary" (click)="CrearCliente()">Crear</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-ms-1">
        <a href="#" name="downloadZipLink" #downloadZipLink id="downloadZipLink" download>
        </a>
      </div>
    </div>
    <div class="tab-pane container-fluid fade" id="factura">
      <br />
      <div class="form-row">
        <div class="form-group col-md-2 col-sm-12 ">
          <button type="button" class="btn btn-primary "
            (click)="teclaAnteriorSiguienteFactura('anterior')">Anterior</button>

          <button type="button" class="btn btn-primary ml-2"
            (click)="teclaAnteriorSiguienteFactura('siguiente')">Siguiente</button>
        </div>
        <div class="form-group col-md-2 col-sm-12 ">
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#buscarFacturaModal">
            Buscar
          </button>
          <button type="button" class="btn btn-primary ml-2" data-toggle="modal"
            [disabled]="documentoFactura.impreso==1" data-target="#imprimirModalFactura">
            Imprimir
          </button>
        </div>
        <div class="form-group col-md-5 col-sm-12 ">
          <button type="button" class="btn btn-primary " id="Nueva" (click)="nuevaFactura()">Nueva Factura</button>
          <button type="button" class="btn btn-primary ml-2" (click)="nuvaCotizacion()"> Nueva Cotización </button>
          <button type="button" class="btn btn-primary ml-2" (click)="imprimirCopia()"
            [disabled]="documentoFactura.impreso!=1 ">
            Imprimir Copia
          </button>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-9 col-sm-12 ">
          <div class="form-row">
            <div class="form-group col-md-4 col-sm-2">
              <input list="browsers" name="clienteFactura" [disabled]="documentoFactura.impreso==1" #clienteFactura
                placeholder="Cliente" class="form-control" id="clienteFactura"
                (change)="clienteSelectFactura(clienteFactura)">
            </div>
            <div class="form-group col-md-4 col-sm-2">
              <b>Fecha Documento:</b> {{documentoFactura.fecha_registro | date: 'dd/MM/yyyy, h:mm a'}}
            </div>
            <div class="form-group col-md-4">
              <div class="form-row">
                <b>Número documento Interno: </b> {{documentoFactura.documento_id}}
              </div>
              <div class="form-row">
                <b>Consecutivo DIAN: </b> {{documentoFactura.consecutivo_dian}}
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4 col-sm-2">
              <button type="button" class="btn btn-primary mb-2" [disabled]="documentoFactura.impreso==1"
                data-toggle="modal" data-target="#agregarOrdenModal">
                Agregar Ordenes de trabajo
              </button>
            </div>
            <div class="form-group col-md-4 col-sm-2" *ngIf="documentoFactura.impreso==1">
              <h4 class="factImpresa">FACTURA IMPRESA</h4>
            </div>


          </div>
          Ordenes de trabajo
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Opciones</th>
                <th scope="col">N° Orden</th>
                <th scope="col">Cliente</th>
                <th scope="col">Placa</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ordenes of ordenesBuscarListFacturaSelect">
                <th scope="row">
                  <!-- Button trigger modal -->
                  <button type="button" (click)="eliminarOrden(ordenes)" [disabled]="documentoFactura.impreso==1"
                    class="btn btn-secondary btn-sm">
                    Eliminar
                  </button>
                </th>
                <td>{{ordenes.documento_id}}</td>
                <td>{{nombreClienteFun(ordenes.cliente_id)}}</td>
                <td>{{ordenes.detalle_entrada}}</td>
                <td>${{formatearNumber(ordenes.total)}}</td>


              </tr>
            </tbody>
          </table>
          Items
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Orden</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Unitario</th>
                <th scope="col"> % Impuesto  <select class="form-control" value="0"
                     (change)="calcularIvaAll(impuestoAll) " #impuestoAll>
                    <option>0</option>
                    <option>0.4</option> 
                    <option>4</option>
                    <option>5</option>
                    <option>8</option>
                    <option>16</option>
                    <option>19</option>
                  </select></th>
                <th scope="col">Parcial</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ordenes of itemsFactura">

                <td>{{ordenes.descripcion}}</td>
                <td>{{ordenes.documento_id}}</td>
                <td>{{ordenes.cantidad}}</td>
                <td>${{formatearNumber(ordenes.unitario)}}</td>
                <td> <select class="form-control" value="{{ordenes.impuesto_producto}}"
                    [disabled]="documentoFactura.impreso==1" (change)="calcularIva(ordenes, impuesto) " #impuesto>
                    <option>0</option>
                    <option>0.4</option>
                    <option>4</option>
                    <option>5</option>
                    <option>8</option>
                    <option>16</option>
                    <option>19</option>
                  </select></td>
                <td>${{formatearNumber(ordenes.parcial)}}</td>
              </tr>
            </tbody>
          </table>
          <div class="form-row">
            <textarea class="form-control mb-2" id="observacionFac" [disabled]="documentoFactura.impreso==1"
              #observacionFact placeholder="Observación" required (blur)="observacionFactura()"></textarea>
          </div>
        </div>
        <div class="form-group col-md-3 col-sm-12 ">
          <div class="form-row">
            <div class="form-group col-md-6 col-sm-12 ">
              <h5><b>Vr. exento:</b></h5>
            </div>
            <div class="form-group col-md-6 col-sm-12 ">
              <h5>${{formatearNumber(documentoFactura.excento)}}</h5>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6 col-sm-12 ">
              <h5><b>Vr. gravado:</b></h5>
            </div>
            <div class="form-group col-md-6 col-sm-12 ">
              <h5>${{formatearNumber(documentoFactura.gravado)}}</h5>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6 col-sm-12 ">
              <h5><b>Vr. IVA:</b></h5>
            </div>
            <div class="form-group col-md-6 col-sm-12 ">
              <h5>${{formatearNumber(documentoFactura.iva)}}</h5>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6 col-sm-12 ">
              <h5><b>Vr. Total:</b></h5>
            </div>
            <div class="form-group col-md-6 col-sm-12 ">
              <h5>${{formatearNumber(documentoFactura.total)}}</h5>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal agregar ordenes de trabajo -->
      <div class="modal fade  bd-example-modal-xl" id="agregarOrdenModal" tabindex="-1" role="dialog"
        aria-labelledby="agregarOrdenModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="agregarOrdenModalLabel">Buscar Orden de trabajo</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-row">
                <div class="form-group col-md-6 col-sm-1">
                  Fecha Inicial
                  <input class="form-control" type="date" value="2020-01-01" id="fechaIniFactura" #fechaIniFactura>
                </div>
                <div class="form-group col-md-6 col-sm-1">
                  Fecha Final
                  <input class="form-control" type="date" value="2020-12-31" id="fechaFinFactura" #fechaFinFactura>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6 col-sm-2">
                  <input list="browsers" name="clienteBuscarFactura" #clienteBuscarFactura placeholder="Cliente"
                    class="form-control" id="clienteBuscarFactura">
                </div>
                <div class="form-group col-md-6 col-sm-2">
                  <input class="form-control" id="placaBuscarFactura" placeholder="Placa" name="placaBuscarFactura"
                    #placaBuscarFactura required>
                </div>
              </div>
              <button type="button" class="btn btn-primary mr-2"
                (click)="buscarOrdenesFactura(placaBuscarFactura,clienteBuscarFactura,fechaIniFactura,fechaFinFactura)">Buscar</button>
              <button type="button" class="btn btn-primary  mr-2"
                (click)="confirmarAgregarOrdenes('s')">Confirmar</button>
              <button type="button" class="btn btn-primary  mr-2"
                (click)="confirmarAgregarOrdenes('n')">Cancelar</button>
              <br />
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">
                      <input class="form-check-input position-static ml-2" (change)="selectOrdenAll($event)"
                        type="checkbox" aria-label="...">
                    </th>
                    <th scope="col"># Orden</th>
                    <th scope="col">Nombre Cliente</th>
                    <th scope="col">Placa</th>
                    <th scope="col">Cerrada</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let ordenes of ordenesBuscarListFactura">
                    <th scope="row">
                      <input class="form-check-input position-static ml-2" (change)="selectOrdenOne(ordenes,$event)"
                        type="checkbox" aria-label="...">
                    </th>
                    <td>{{ordenes.documento_id}}</td>
                    <td>{{nombreClienteFun(ordenes.cliente_id)}}</td>
                    <td>{{ordenes.detalle_entrada}}</td>
                    <td>{{ordenes.cierre_diario==0?'No':'Si'}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal imprimir factura-->
      <div class="modal fade bd-example-modal-sm" id="imprimirModalFactura" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Imprimir Factura</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
           
              <div class="form-row">
                <div class="form-group col-md-6 col-sm-6">
                  Tipo de pago:
                </div>
                <div class="form-group col-md-6 col-sm-6">
                  <select class="form-control" id="tipoPago" #tipoPago>
                    <option *ngFor="let tp of tipoPagosAll">{{tp.nombre}}</option>

                  </select>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6 col-sm-6">
                  Resolución de facturación:
                </div>
                <div class="form-group col-md-6 col-sm-6">
                  <select class="form-control" id="resolucionEmpresa" #resolucionEmpresa>
                    <option *ngFor="let tp of resolucionAll">{{tp.nombre}}</option>

                  </select>
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-12 col-sm-12">
                  seleccione el tipo de impresión:
                </div>
                <div class="form-group col-md-12 col-sm-12">
                  <select class="form-control" #impresora id="impresora">
                    <option *ngFor="let imp of impresoraEmpresa" value="{{imp.numero_impresora}}">{{imp.nombre_impresora}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-primary"
                (click)="enterContinuarImpresion(impresora)">Imprimir</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal buscar -->
      <div class="modal fade  bd-example-modal-xl" id="buscarFacturaModal" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Buscar Factura</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-row">
                <div class="form-group col-md-6 col-sm-1">
                  Fecha Inicial
                  <input class="form-control" type="date" value="2020-01-01" id="fechaInicial" #fechaInicial>
                </div>
                <div class="form-group col-md-6 col-sm-1">
                  Fecha Final
                  <input class="form-control" type="date" value="2020-12-31" id="fechaFinal" #fechaFinal>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6 col-sm-2">
                  <input list="browsers" name="clienteBuscarFacturas" #clienteBuscarFacturas placeholder="Cliente"
                    class="form-control" id="clienteBuscarFacturas">
                </div>
                <div class="form-group col-md-6 col-sm-2">
                  <input class="form-control" id="placaFactura" placeholder="Placa" name="placaFactura" #placaFactura
                    required>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6 col-sm-2">
                  <select id="tipoDocu" name="tipoDocu" #tipoDocu placeholder="" class="form-control">
                    <option value="10">Factura de Venta</option>
                    <option value="12">Nota Crédito</option>
                    <option value="13">Nota Débito</option>
                    <option value="4">Cotización</option>
                  </select>
                </div>
              </div>
              <button type="button" class="btn btn-primary"
                (click)="buscarFacturas(placaFactura,clienteBuscarFacturas,fechaInicial,fechaFinal,tipoDocu)">Buscar</button>
              <br />
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Opciones</th>
                    <th scope="col"># doc. interno</th>
                    <th scope="col">Nombre Cliente</th>
                    <th scope="col">Consecutivo DIAN</th>
                    <th scope="col">TOTAL</th>

                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let ordenes of facturasBuscarList">
                    <th scope="row">
                      <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal"
                        (click)="cargarFactura(ordenes)" title="Ver">
                        <i class="fas fa-search"></i>
                      </button>
                      <button type="button" class="btn btn-secondary btn-sm"  data-toggle="modal"
                        (click)="imprimirCopia(ordenes)" title="Imprimir Copia">
                        <i class="fas fa-print"></i>
                      </button>
                      <button type="button" class="btn btn-secondary btn-sm"  data-toggle="modal" data-target="#notaModal"
                      (click)="detalleDocumento(ordenes)"  title="Crear nota crédito/débito" [disabled]="ordenes.impreso!=1">
                      <i class="far fa-trash-alt"></i>
                    </button>
                    </th>
                    <td>{{ordenes.documento_id}}</td>
                    <td>{{nombreClienteFun(ordenes.cliente_id)}}</td>
                    <td>{{ordenes.consecutivo_dian}}</td>
                    <td>{{formatearNumber(ordenes.total)}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>


       <!-- Modal nota credito -->
  <div class="modal fade" id="notaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Crear Nota Crédito/Débito</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-row">
          <div class="form-group col-md-8 col-sm-1">
            <b>Factura relacionada: </b>
          </div>
          <div class="form-group col-md-4 col-sm-1">
            {{documentoSelect.consecutivo_dian}}
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-8 col-sm-1">
            <b># Interno Factura relacionada: </b>
          </div>
          <div class="form-group col-md-4 col-sm-1">
            {{documentoSelect.documento_id}}
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-8 col-sm-1">
            <b>Total Nota: </b>
          </div>
          <div class="form-group col-md-4 col-sm-1">
            {{formatearNumber(documentoSelect.total)}}
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12 col-sm-1">
            Descripción corrección: 
          </div>
          <div class="form-group col-md-12 col-sm-1">
            <textarea class="form-control " id="observacion" #observacion
              placeholder="Descripción corrección"></textarea>
          </div>
        </div>
        <div class="form-row">
         
          <div class="form-group col-sm-8" >
            Articulo
            <input list="articulos" name="articuloBuscar" #articuloBuscar placeholder="Articulo" class="form-control"
              id="articuloBuscar" (change)="articuloSelect(articuloBuscar) ">
          </div>
          <div class="form-group col-md-3 col-sm-1">
            Cantidad
            <input name="cantidadNota" #cantidadNota placeholder="Cantidad" class="form-control">
          </div>
          <div class="form-group col-md-1 col-sm-1">
            <button type="button" class="btn btn-primary mt-4" title="Adjuntar producto"
            (click)="adjuntarProducto(cantidadNota) "><i class="fas fa-plus"></i></button>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6 col-sm-1">
          
            <button type="button" class="btn btn-primary mr-1" (click)="confirmarNota(observacion)">Confirmar</button>
            <button type="button" class="btn btn-secondary" (click)="cerrarNota()">Salir</button>
          </div>
        </div>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Opciones</th>
              <th scope="col">Producto</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Valor Uni.</th>
              <th scope="col">Valor Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of itemsFactura2">
              <th scope="row">
                <button type="button" id="d_{{item.documento_detalle_id}}" #borraR class="btn btn-secondary btn-sm" title="Eliminar Producto" 
                  (click)="borrarItem(borraR)">
                  <i class="fas fa-trash"></i>
                </button>
              </th>
              <td>{{item.descripcion}}</td>
              <td><input name="cantidadNota" #cantidadNota placeholder="Cantidad" class="form-control"
                  id="c_{{item.documento_detalle_id}}" (blur)="cambioCantidad(cantidadNota)"
                  value="{{item.cantidad}}">
              </td>
              <td>
                <input name="unitarioNota" #unitarioNota placeholder="Unitario" class="form-control"
                  id="u_{{item.documento_detalle_id}}" (blur)="cambioUnitario(unitarioNota)"
                  value="{{item.unitario}}">
              </td>
              <td>{{formatearNumber(item.parcial)}}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>

    </div>
  </div>
</div>