<app-menu></app-menu>
<div class="container-fluid main">
  <div class="form-row">
    <h4 class="mt-3">Orden de trabajo</h4>
  </div>
  <br />
  <div class="form-row">
    <div class="form-group col-md-1 col-sm-5 ">
      <button type="button" class="btn btn-primary " id="anterior"
        (click)="teclaAnteriorSiguiente('anterior')">Anterior</button>
    </div>
    <div class="form-group col-md-1 col-sm-5 ">
      <button type="button" class="btn btn-primary " id="siguiente"
        (click)="teclaAnteriorSiguiente('siguiente')">Siguiente</button>
    </div>
    <div class="form-group col-md-1 col-sm-5 ">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#buscarModal">
        Buscar
      </button>
    </div>
    <div class="form-group col-md-2 col-sm-5 ">
      <button type="button" class="btn btn-primary " id="Nueva" (click)="nuevaOrden()">Nueva Orden de trabajo</button>
    </div>
    <div class="form-group col-md-1 col-sm-5 ">
      <button type="button" class="btn btn-primary " id="imprimir">Imprimir</button>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <b>Usuario Que crea:</b> {{nombreUsuario}}
    </div>
    <div class="form-group col-md-4">
      <b># Orden de pedido:</b> {{documento.documento_id}}
    </div>
    <div class="form-group col-md-4">
      <b>Fecha entrada:</b> {{documento.fecha_registro}}
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4 col-sm-2">
      <b>Fecha entrega:</b> {{documento.fecha_entrega}}
    </div>
    <div class="form-group col-md-4 col-sm-2">
      <input list="browsers" name="clientePV" #clientePV placeholder="Cliente" class="form-control" id="clientePV"
        (change)="clienteSelectFun(clientePV)">
      <datalist id="browsers">
        <option *ngFor="let cliente of clientes" [value]="cliente.nombre">
          Identificación: {{cliente.documento}} id:{{cliente.cliente_id}}
        </option>
      </datalist>
    </div>
    <div class="form-group col-md-4 col-sm-2">
      <input class="form-control" id="placa" placeholder="* Placa" name="placa" #placa required
        (blur)="agregarPlaca(placa)">
    </div>
  </div>
  <div class="form-row">
    <textarea class="form-control " id="descripcionCliente" #descripcionCliente placeholder="Descripción cliente"
      required (blur)="agregarDescripcionCliente(descripcionCliente)"></textarea>
  </div>
  <br />
  <div class="form-row">
    <div class="form-group col-md-6 col-sm-1">
      <textarea class="form-control " (blur)="agregarObservacion(observacion)" id="observacion" #observacion
        placeholder="Observación" required></textarea>
    </div>
    <div class="form-group col-md-6 col-sm-1">
      <div class="custom-file">
        <input type="file" class="custom-file-input" capture="camera" id="customFileLang" lang="es">
        <label class="custom-file-label" for="customFileLang">Seleccionar Archivo</label>
      </div>
    </div>
  </div>
  <br />
  <div class="form-row">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      Agregar repuesto
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Agregar repuesto</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-row">
              <div class="form-group col-md-6 col-sm-2">
                <textarea class="form-control " id="item" #item placeholder="Nombre repuesto" required></textarea>
              </div>
              <div class="form-group col-md-6 col-sm-2">
                <input class="form-control" id="cantidad" type="number" placeholder="* Cantidad" name="cantidad"
                  #cantidad required>
              </div>
            </div>
            <br />
            <div class="form-row">

              <div class="form-group col-md-12 col-sm-1">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" capture="camera" id="fotoRepuesto" lang="es">
                  <label class="custom-file-label" for="customFileLang">Seleccionar Archivo</label>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" (click)="agregardetalle(item,cantidad)">Agregar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Opciones</th>
        <th scope="col">Id producto</th>
        <th scope="col">Nombre Producto</th>
        <th scope="col">Cantidad</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ordenes of detallesList">
        <th scope="row">
          <button type="button" (click)="editarItem(ordenes,cantidad,item)" class="btn btn-secondary btn-sm"
            data-toggle="modal" data-target="#exampleModal">
            Editar
          </button>
          <!-- Button trigger modal -->
          <button type="button" (click)="eliminarItem(ordenes)" class="btn btn-secondary btn-sm" data-toggle="modal"
            data-target="#eliminarModal">
            Eliminar
          </button>

        </th>

        <td>{{ordenes.documento_detalle_id}}</td>
        <td>{{ordenes.descripcion}}</td>
        <td>{{ordenes.cantidad}}</td>
      </tr>
    </tbody>
  </table>

  <!-- Modal -->
  <div class="modal fade" id="eliminarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Eliminar Repuesto</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Estas seguro de eliminar este repuesto?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" (click)="eliminar()">Eliminar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal buscar -->
  <div class="modal fade  bd-example-modal-xl" id="buscarModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Buscar Orden de trabajo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-row">
            <div class="form-group col-md-6 col-sm-1">
              Fecha Inicial
              <input class="form-control" type="date" value="2020-01-01" id="fechaIni" #fechaIni>
            </div>
            <div class="form-group col-md-6 col-sm-1">
              Fecha Final
              <input class="form-control" type="date" value="2020-12-31" id="fechaFin" #fechaFin>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6 col-sm-2">
              <input list="browsers2" name="clienteBuscarPV" #clienteBuscarPV placeholder="Cliente" class="form-control"
                id="clienteBuscarPV">
              <datalist id="browsers2">
                <option *ngFor="let cliente of clientes" [value]="cliente.nombre">
                  Identificación: {{cliente.documento}} id:{{cliente.cliente_id}}
                </option>
              </datalist>
            </div>
            <div class="form-group col-md-6 col-sm-2">
              <input class="form-control" id="placaBuscar" placeholder="Placa" name="placaBuscar" #placaBuscar required>
            </div>
          </div>

          <button type="button" class="btn btn-primary"
            (click)="buscarOrdenes(placaBuscar,clienteBuscarPV,fechaIni,fechaFin)">Buscar</button>
          <br />
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Opciones</th>
                <th scope="col"># Orden</th>
                <th scope="col">Nombre Cliente</th>
                <th scope="col">Placa</th>
                <th scope="col">Encargado</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ordenes of ordenesBuscarList">
                <th scope="row">
                  <button type="button"  class="btn btn-secondary btn-sm"
                    data-toggle="modal" data-target="#exampleModal">
                    Editar
                  </button>
                </th>
                <td>{{ordenes.documento_id}}</td>
                <td>{{nombreCliente(ordenes.cliente_id)}}</td>
                <td>{{ordenes.detalle_entrada}}</td>
                <td>{{nombreUsuarioFiltro(ordenes.usuario_id)}}</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>

</div>