<app-menu></app-menu>
<div class="container-fluid main">
  <div class="form-row">
    <h4 class="mt-3">Inventario Fisico</h4>
  </div>
  <br />
  <div class="form-row">
    <div class="form-group col-md-10 col-sm-12 ">
      <button type="button" (click)="limpiar()" class="btn btn-primary" data-toggle="modal"
        data-target="#crearProductoModal">
        Crear Producto
      </button>

      <button type="button" (click)="limpiarGrupo()" class="btn btn-primary ml-2" data-toggle="modal"
        data-target="#crearGrupoModal">
        Gestión de Grupos
      </button>
      <button type="button" (click)="limpiarSubGrupo()" class="btn btn-primary ml-2" data-toggle="modal"
        data-target="#crearSubGrupoModal">
        Gestión de SUB Grupos
      </button>
      <button type="button" class="btn btn-primary ml-2" data-toggle="modal" data-target="#cargueMasivoModal">
        Cargue masivo de productos
      </button>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-7 col-sm-12 ">
      {{mensaje}}
    </div>
  </div>
  <br />
  <table class="table table-hover ">
    <thead>
      <tr>
        <th scope="col">Ops</th>
        <th scope="col" >Producto</th>
        <th scope="col"  *ngIf="cantidadActivo">Cant.</th>
        <th scope="col"  *ngIf="costoActivo">Costo</th>
        <th scope="col"  *ngIf="costoPublicoActivo">Publico</th>
        <th scope="col"  *ngIf="IVAActivo">IVA</th>
        <th scope="col"  *ngIf="pesadoActivo" class="w-1">Pesado</th>
        <th scope="col"  *ngIf="codigoBarrasActivo">Cod. Barras</th>
        <th scope="col"  *ngIf="promocionesActivo">Prom</th>
        <th scope="col"  *ngIf="promocionesActivo">Pub. Promo</th>
        <th scope="col"  *ngIf="promocionesActivo">Kg. promo</th>
        <th scope="col"  *ngIf="utilidadActivo">Utilidad</th>
        <th scope="col"  *ngIf="diferenciaActivo">Diferencia</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ordenes of productosAll">
        <th scope="row">
          <!-- Button trigger modal -->
          <button type="button" #borrar (click)="seleccionarEliminarItem(ordenes)" id="borrar_{{ordenes.producto_id}}"
            class="btn btn-secondary btn-sm" data-toggle="modal" (keyup)="controlTeclas($event,borrar)"
            (focus)="indexFocus(ordenes)">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </button>
        </th>
        <td>
          <input class="form-control " #nombre id="nombre_{{ordenes.producto_id}}" (focus)="indexFocus(ordenes)"
            value="{{ordenes.nombre}}" (keydown.enter)="cambioPrecioLista(ordenes,nombre)"
            (keydown.esc)="scapeTecla(this)" (keyup)="controlTeclas($event,nombre)">

        </td>
        <td  *ngIf="cantidadActivo"> <input class="form-control " #canti id="cantidad_{{ordenes.producto_id}}" (focus)="indexFocus(ordenes)"
            value="{{ordenes.cantidad}}" (keydown.enter)="cambioPrecioLista(ordenes,canti)"
            (keydown.esc)="scapeTecla(this)" (keyup)="controlTeclas($event,canti)">
        </td>
        <td  *ngIf="costoActivo">
          <input class="form-control " #costo id="costo_{{ordenes.producto_id}}" (focus)="indexFocus(ordenes)"
            value="{{ordenes.costo}}" (keydown.enter)="cambioPrecioLista(ordenes,costo)"
            (keydown.esc)="scapeTecla(this)" (keyup)="controlTeclas($event,costo)">
        </td>
        <td *ngIf="costoPublicoActivo">
          <input class="form-control " #publico id="publico_{{ordenes.producto_id}}" (focus)="indexFocus(ordenes)"
            value="{{ordenes.costo_publico}}" (keydown.enter)="cambioPrecioLista(ordenes,publico)"
            (keydown.esc)="scapeTecla(this)" (keyup)="controlTeclas($event,publico)">
        </td>
        <td *ngIf="IVAActivo">
          <input class="form-control " #impuesto id="impuesto_{{ordenes.producto_id}}" (focus)="indexFocus(ordenes)"
            value="{{ordenes.impuesto}}" (keydown.enter)="cambioPrecioLista(ordenes,impuesto)"
            (keydown.esc)="scapeTecla(this)" (keyup)="controlTeclas($event,impuesto)">
        </td>
        <td *ngIf="pesadoActivo">
          <input class="form-control " #balanza id="balanza_{{ordenes.producto_id}}" (focus)="indexFocus(ordenes)"
            value="{{ordenes.balanza}}" (keydown.enter)="cambioPrecioLista(ordenes,balanza)"
            (keydown.esc)="scapeTecla(this)" (keyup)="controlTeclas($event,balanza)">
        </td>
        <td *ngIf="codigoBarrasActivo">
          <input class="form-control " #barras id="barras_{{ordenes.producto_id}}" (focus)="indexFocus(ordenes)"
            value="{{ordenes.codigo_barras}}" (keydown.enter)="cambioPrecioLista(ordenes,barras)"
            (keydown.esc)="scapeTecla(this)" (keyup)="controlTeclas($event,barras)">
        </td>
        <td *ngIf="promocionesActivo">
          <input class="form-control " #promo id="promo_{{ordenes.producto_id}}" (focus)="indexFocus(ordenes)"
            value="{{ordenes.promo}}" (keydown.enter)="cambioPrecioLista(ordenes,promo)"
            (keydown.esc)="scapeTecla(this)" (keyup)="controlTeclas($event,promo)">
        </td>
        <td *ngIf="promocionesActivo">
          <input class="form-control " #publico_promo id="public_promo_{{ordenes.producto_id}}"
            (focus)="indexFocus(ordenes)" value="{{ordenes.pub_promo}}"
            (keydown.enter)="cambioPrecioLista(ordenes,publico_promo)" (keydown.esc)="scapeTecla(this)"
            (keyup)="controlTeclas($event,publico_promo)">
        </td>
        <td *ngIf="promocionesActivo">
          <input class="form-control " #kg_promo id="kg_promo{{ordenes.producto_id}}" (focus)="indexFocus(ordenes)"
            value="{{ordenes.kg_promo}}" (keydown.enter)="cambioPrecioLista(ordenes,kg_promo)"
            (keydown.esc)="scapeTecla(this)" (keyup)="controlTeclas($event,kg_promo)">
        </td>
        <td *ngIf="utilidadActivo"></td>
        <td *ngIf="diferenciaActivo"></td>
      </tr>
    </tbody>
  </table>

  <!-- Modal -->
  <div class="modal fade" id="cargueMasivoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Cargue masivo de productos</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-row">
            <div class="form-group col-md-7 col-sm-12 ">
              <input type="file" class="form-control-file" #fotoRepuesto id="fotoRepuesto" accept=".csv"
                (change)="uploadListener($event)">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12 col-sm-12 ">
              <button type="button" class="btn btn-primary" (click)="cargarArchivo()">Cargar</button>
              <button type="button" class="btn btn-primary ml-2" (click)="exportTableToExcel()">Descargar plantilla
              </button>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6 col-sm-12 ">
              Total Registros:
            </div>
            <div class="form-group col-md-6 col-sm-12 ">
              {{totalRegistros}}
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6 col-sm-12 ">
              Registros Nuevos Cargados:
            </div>
            <div class="form-group col-md-6 col-sm-12 ">
              {{registrosNuevosCargados}}
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6 col-sm-12 ">
              Registros Actualizados:
            </div>
            <div class="form-group col-md-6 col-sm-12 ">
              {{registrosActualizados}}
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6 col-sm-12 ">
              Registros Erroneos:
            </div>
            <div class="form-group col-md-6 col-sm-12 ">
              {{registrosErroneos}}
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6 col-sm-12 ">
              <button type="button" class="btn btn-secondary" (click)="descargarDetalle()">Ver detalle</button>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- grestoion Modal -->
  <div class="modal fade" id="crearGrupoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Gestion de grupos</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-row">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#crearGrupoNewModal">
              Crear grupo
            </button>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Opciones</th>
                  <th scope="col"># interno</th>
                  <th scope="col">Nombre</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let group of grupoList">
                  <th scope="row">
                    <button type="button" (click)="editarGrupo(group)" class="btn btn-primary" data-toggle="modal"
                      data-target="#crearGrupoNewModal">
                      Editar
                    </button>

                  </th>
                  <td>{{group.grupo_id}}</td>
                  <td>{{group.nombre}}</td>
                </tr>
              </tbody>
            </table>
          </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

        </div>
      </div>
    </div>
  </div>

  <!-- grestoion Modal -->
  <div class="modal fade" id="crearSubGrupoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Gestion de Sub grupos</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-row">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#crearSubGrupoNewModal">
              Crear sub grupo
            </button>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Opciones</th>
                  <th scope="col"># interno</th>
                  <th scope="col">Nombre</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let group of subGrupoList">
                  <th scope="row">
                    <button type="button" (click)="editarSubGrupo(group)" class="btn btn-primary" data-toggle="modal"
                      data-target="#crearSubGrupoNewModal">
                      Editar
                    </button>

                  </th>
                  <td>{{group.sub_grupo_id}}</td>
                  <td>{{group.nombre}}</td>
                </tr>
              </tbody>
            </table>
          </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

        </div>
      </div>
    </div>
  </div>

  <!--crear Modal -->
  <div class="modal fade" id="crearGrupoNewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Crear Modal</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-row">
            <div class="form-group col-md-7 col-sm-12 ">
              <input class="form-control" id="nombreGrupo" placeholder="* Nombres Grupo" name="nombreGrupo" #nombreGrupo
                required [(ngModel)]="grupoNew.nombre">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" (click)=" CrearGrupo()">Guardar</button>
        </div>
      </div>
    </div>
  </div>

  Espere un momento por favor
  <div class="modal fade" id="crearSubGrupoNewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Crear sub grupo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-row">
            <div class="form-group col-md-7 col-sm-12 ">
              <input class="form-control" id="nombreSubGrupo" placeholder="* Nombres Grupo" name="nombreSubGrupo"
                #nombreSubGrupo required [(ngModel)]="subGrupoNew.nombre">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" (click)=" CrearSubGrupo()">Guardar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- crear producto Modal -->
  <div class="modal fade" id="crearProductoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Crear Producto</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-row">
            <div class="form-group col-md-6 col-sm-6">
              * Nombre
              <input class="form-control" id="nombreCliente" placeholder="* Nombres cliente" name="nombreCliente"
                #nombreCliente required [(ngModel)]="productoNew.nombre">
            </div>
            <div class="form-group col-md-6 col-sm-6">
              Grupo
              <select id="grupo" name="grupoPV" #grupoPV placeholder="" [(ngModel)]="productoNew.grupo_id"
                class="form-control">
                <option value="">Seleccione</option>
                <option *ngFor="let grupo of grupoList" [value]="grupo.grupo_id">
                  {{grupo.nombre}}
                </option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6 col-sm-6">
              SUBGrupo
              <select id="subgrupo" name="subgrupo" #subgrupo placeholder="" [(ngModel)]="productoNew.sub_grupo_id"
                class="form-control">
                <option value="">Seleccione</option>
                <option *ngFor="let grupo of subGrupoList" [value]="grupo.sub_grupo_id">
                  {{grupo.nombre}}
                </option>
              </select>
            </div>
            <div class="form-group col-md-6 col-sm-6">
              Marca
              <select id="marca" name="marcaPV" #marcaPV placeholder="" [(ngModel)]="productoNew.marca_id"
                class="form-control">
                <option value="">Seleccione</option>
                <option *ngFor="let marca of marcaList" [value]="marca.marca_id">
                  {{marca.nombre}}
                </option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6 col-sm-6">
              Precio de compra
              <input class="form-control" id="costo" placeholder="* Precio de compra" name="costoPV" #costoPV required
                [(ngModel)]="productoNew.costo">
            </div>
            <div class="form-group col-md-6 col-sm-6">
              Precio de venta
              <input class="form-control" id="costoPublicoPV" placeholder="* Precio de venta" name="costoPublicoPV"
                #costoPublicoPV required [(ngModel)]="productoNew.costo_publico">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6 col-sm-6">
              Impuesto
              <input class="form-control" id="impuestoPV" placeholder="Iva o Ipoconsumo" name="impuestoPV" #impuestoPV
                required [(ngModel)]="productoNew.impuesto">
            </div>
            <div class="form-group col-md-6 col-sm-6">
              Stock Mínimo
              <input class="form-control" id="stockMin" placeholder="Stock mínimo" name="stockMin" #stockMin required
                [(ngModel)]="productoNew.stock_min">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6 col-sm-6">
              Stock Máximo
              <input class="form-control" id="celular" placeholder="Stock Máximo" name="stockMax" #stockMax required
                [(ngModel)]="productoNew.stock_max">
            </div>
            <div class="form-group col-md-6 col-sm-6">
              Codigo de barras
              <input class="form-control" id="codBarrasPv" placeholder="Codigo de barras" name="codBarrasPv"
                #codBarrasPv required [(ngModel)]="productoNew.codigo_barras">
            </div>
          </div>
          <div class="form-row">

            <div class="form-group col-md-6 col-sm-6">
              % ganancia
              <input class="form-control" id="ganancia" placeholder="% ganancia" name="ganancia" #ganancia required
                [(ngModel)]="productoNew.porcentaje_venta">
            </div>
            <div class="form-group col-md-6 col-sm-6">
              Fecha vencimiento
              <input class="form-control" id="vencimiento" placeholder="Fecha vencimiento" type="date"
                name="vencimiento" #vencimiento [(ngModel)]="productoNew.fecha_vencimiento">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6 col-sm-6">
              Peso
              <input class="form-control" id="peso" placeholder="peso" name="peso" #peso required
                [(ngModel)]="productoNew.peso">
            </div>
            <div class="form-group col-md-6 col-sm-6">
              Proveedor
              <select id="proveedorPV" name="proveedorPV" #proveedorPV placeholder=""
                [(ngModel)]="productoNew.proveedor_id" class="form-control">
                <option value="">Seleccione</option>
                <option *ngFor="let proveedor of proveedorList" [value]="proveedor.proveedor_id">
                  {{proveedor.nombre}}
                </option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-3 col-sm-6">
              Balanza
              <input class="form-control" id="BalanzaPV" placeholder="1 o 0" name="peso" #peso required
                [(ngModel)]="productoNew.balanza">
            </div>
            <div class="form-group col-md-3 col-sm-6">
              Varios
              <input class="form-control" id="varios" placeholder="1 o 0" name="varios" #varios required
                [(ngModel)]="productoNew.varios">
            </div>
            <div class="form-group col-md-3 col-sm-6">
              Sub producto
              <input class="form-control" id="subproducto" placeholder="1 o 0" name="subproducto" #subproducto required
                [(ngModel)]="productoNew.sub_producto">
            </div>
            <div class="form-group col-md-3 col-sm-6">
              Granel
              <input class="form-control" id="subproducto" placeholder="1 o 0" name="granel" #granel required
                [(ngModel)]="productoNew.granel">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12 ">
              <p>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
                  aria-expanded="false" aria-controls="collapseExample">
                  Precios por productos
                </button>
              </p>
              <div class="collapse" id="collapseExample">
                <div class="card card-body">
                  <div class="form-row">
                    <div class="form-group col-md-6 col-sm-6">
                      Precio 2
                      <input class="form-control" id="precio_2" name="precio_2" #precio_2 required
                        [(ngModel)]="productoPrecioNew.precio_2">
                    </div>
                    <div class="form-group col-md-6 col-sm-6">
                      Precio 3
                      <input class="form-control" id="precio_3" name="precio_3" #precio_3 required
                        [(ngModel)]="productoPrecioNew.precio_3">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6 col-sm-6">
                      Precio 4
                      <input class="form-control" id="precio_2" name="precio_2" #precio_2 required
                        [(ngModel)]="productoPrecioNew.precio_4">
                    </div>
                    <div class="form-group col-md-6 col-sm-6">
                      Precio 5
                      <input class="form-control" id="precio_5" name="precio_5" #precio_5 required
                        [(ngModel)]="productoPrecioNew.precio_5">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6 col-sm-6">
                      Precio 6
                      <input class="form-control" id="precio_6" name="precio_6" #precio_6 required
                        [(ngModel)]="productoPrecioNew.precio_6">
                    </div>
                    <div class="form-group col-md-6 col-sm-6">
                      Precio 7
                      <input class="form-control" id="precio_7" name="precio_7" #precio_7 required
                        [(ngModel)]="productoPrecioNew.precio_7">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6 col-sm-6">
                      Precio 8
                      <input class="form-control" id="precio_8" name="precio_8" #precio_8 required
                        [(ngModel)]="productoPrecioNew.precio_8">
                    </div>
                    <div class="form-group col-md-6 col-sm-6">
                      Precio 9
                      <input class="form-control" id="precio_9" name="precio_9" #precio_9 required
                        [(ngModel)]="productoPrecioNew.precio_9">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6 col-sm-6">
                      Precio 10
                      <input class="form-control" id="precio_10" name="precio_10" #precio_10 required
                        [(ngModel)]="productoPrecioNew.precio_10">
                    </div>
                    <div class="form-group col-md-6 col-sm-6">
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" (click)="CrearProducto()">Crear</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col col-ms-1">
      <a href="#" name="downloadZipLink" #downloadZipLink id="downloadZipLink" download>

      </a>
    </div>


  </div>