<app-menu></app-menu>
<div class="container-fluid main">
  <div class="form-row ">
    <h3 class="mt-3">Usuarios del sistema</h3>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <input class="form-control" id="nombreUsuarioBusqueda" [(ngModel)]="usuarioBuscar.nombre" placeholder="Nombre"
        name="nombreUsuarioBusqueda" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group col-md-6">
      <input class="form-control" id="mailUsuarioBusqueda" [(ngModel)]="usuarioBuscar.correo" placeholder="Mail">
    </div>  
  </div>
  <div class="form-row">
      <div class="form-group col-md-6">    
        <select class="form-control " [(ngModel)]="usuarioBuscar.identificacion" >
          <option value="">Lista de roles</option>
          <option *ngFor="let rol of rolList" value="{{rol.rolId}}">{{rol.nombre}}</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <input class="form-control" id="identificacionUsuarioBusqueda" [(ngModel)]="usuarioBuscar.identificacion" placeholder="Identificación">
      </div>
    </div>
    <button type="submit" class="btn btn-primary mr-1" (click)="buscarUsuarios()">Buscar</button>
  <button type="button" (click)="limpiar()" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Crear
  </button>
  <div class="mt-2"></div>
  <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Opciones</th>
          <th scope="col">Nombre</th>
          <th scope="col">Roles</th>
          <th scope="col">Correo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of usuarioList">
          <th scope="row">
            <button type="button" (click)="EditarUsuarios(user)" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#exampleModal">
              Editar
            </button>
            <button type="button" (click)="opcionesPorUsuario(user)" class="btn  btn-secondary btn-sm" data-toggle="modal" data-target="#exampleModal2">
              Opciones
            </button>
          </th>
  
          <td>{{user.nombre}}</td>
          <td>{{nameRol(user.usuario_id)}}</td>
          <td>{{user.correo}}</td>
        </tr>
      </tbody>
    </table>

    <!-- Modal Crear Usuario-->
  <div class="modal fade" id="exampleModal"   tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Crear Usuario</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-row">
              <div class="form-group col-md-6">
               <input class="form-control" id="nombreUsuarioCreacion" [(ngModel)]="usuarioCrear.nombre" placeholder="* Nombre" name="nombreUsuarioCreacion">
              </div>
              <div class="form-group col-md-6">
                  <input class="form-control" id="meilUsuarioCrear" [(ngModel)]="usuarioCrear.correo" placeholder="* Correo">
                </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                  <label for="rolUsuarioCrear">Lista Roles</label>
              <select multiple class="form-control "  id="rolUsuarioCrear">
                  <option *ngFor="let rol1 of rolList" (click)="seleccionarRol(rol1)" value="{{rol1.rol_id}}">{{rol1.nombre}}</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                  <label for="Activas">Roles Seleccionados</label>
                  <select multiple class="form-control" id="Activas">
                      <option *ngFor="let select1 of rolListSelect"  (click)="unSeleccionarRol(select1)" value="{{select1.rol_id}}">{{select1.nombre}}</option>
                  </select>
                </div>
            </div> 
            <div class="form-row">
                <div class="form-group col-md-6">
                   <input class="form-control" type="number" id="identificacionUsuarioCrear" [(ngModel)]="usuarioCrear.identificacion" placeholder="Identificación">
                  </div>


              <div class="form-check col-md-6">
                 <input class="form-control" type="password" id="claveUsuarioCrear" [(ngModel)]="usuarioCrear.clave" placeholder="* Clave">
              </div>
            </div>
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="estadoUsuarioCrear" [(ngModel)]="usuarioCrear.estado">
                <label class="form-check-label" for="estadoUsuarioCrear">
                  *Estado
                </label>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" (click)="crearUsuario()">Guardar</button>
          </div>
        </div>
      </div>
    </div>
</div>