<div class="modal-dialog text-center">
    <div class="col-sm-12 titulo ">
      Effective Facturación. Sistema de facturación e inventario.
    </div>
  <div class="col-sm-8 main-section">
    <div class="modal-content">
      <div class="col-12 user-img">
        <img src="../../assets/images/logo.png " />
      </div>
      <form class="col-12" >
        <div class="form-group" id="user-group">
          <input type="text" class="form-control" placeholder="Nombre de usuario" 
          #user autofocus (keydown.enter)="loginUsuario(user.value,contrasena.value)" required/>
        </div>
        <div class="form-group" id="contrasena-group">
          <input type="password" class="form-control" #contrasena placeholder="Contraseña" (keydown.enter)="loginUsuario(user.value,contrasena.value)" required/>
        </div>
        <button type="button" class="btn btn-primary" (click)="loginUsuario(user.value,contrasena.value)" ><i class="fas fa-sign-in-alt"></i> Ingresar</button>
      </form>
      <div class="col-12 forgot">
        <a href="#">Recordar contraseña</a>
      </div>
      <div class="col-12 forgot">
        <a href="http://effectivesoftware.com.co/">effectivesoftware.com.co</a>
      </div>
    </div>
  </div>
  <div class="fixed-bottom foother footer mr-4" >
    <img src="../../assets/images/nice.jpeg " height="100px" width="240px" />
    <h6>Soporte: 3112864974 - 3185222474</h6>
    <h6>info@effectivesoftware.com.co</h6>
  </div>
</div>