<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="http://effectivesoftware.com.co/">
    <img src="../../assets/images/logo.ico" width="30" height="30" class="d-inline-block align-top" alt="">
    Effective Facturación
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end menu-style" id="navbarNav">
    <ul class="navbar-nav ">
        <span class="navbar-text">
            <b> {{nombreUsuario}} </b>
          </span>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Facturación
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" *ngFor="let opfacturacion of facturacion" 
            routerLink="{{opfacturacion.url}}">{{opfacturacion.nombre}}</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Facturación Electrónica
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" *ngFor="let opElectronica of electronica" 
            routerLink="{{opElectronica.url}}">{{opElectronica.nombre}}</a>
        </div>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Funciones
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" *ngFor="let opFunciones of funciones" 
              routerLink="{{opFunciones.url}}">{{opFunciones.nombre}}</a>
          </div>
        </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Terceros
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" *ngFor="let opUsuario of usuarios" 
               routerLink="{{opUsuario.url}}">{{opUsuario.nombre}}</a>
         </div>
        </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Listados
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" *ngFor="let opListados of listados" 
            routerLink="{{opListados.url}}">{{opListados.nombre}}</a>
        </div>
      </li>
      
      <li class="nav-item" title="Cerrar Sesión">
          <a class="nav-link" routerLink="/login" (click)="cerrarSesision()">Cerrar Sesión<i class="fas fa-sign-out-alt"></i></a>
        </li>
    </ul>
  </div>
</nav>
