<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="http://effectivesoftware.com.co/">
    <img src="../../assets/images/logo.ico" width="30" height="30" class="d-inline-block align-top" alt="">
    Effective Facturación
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end menu-style" id="navbarNav">
    <ul class="navbar-nav ">
      <span class="navbar-text mr-2">
        <b> {{nombreUsuario}} </b>
      </span>


      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle"  id="facturacionPV" #facturacionPV type="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (keyup)="controlTeclas($event,facturacionPV)">
          Facturación
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item" type="button" *ngFor="let opfacturacion of facturacion" #cuadreCajaPV
            routerLink="{{opfacturacion.url}}">{{opfacturacion.nombre}}</button>
        </div>
      </div>
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" id="electronicaPV" #electronicaPV type="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (keyup)="controlTeclas($event,electronicaPV)">
          Facturación Electrónica
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item" type="button" *ngFor="let opElectronica of electronica"
            routerLink="{{opElectronica.url}}">{{opElectronica.nombre}}</button>
        </div>
      </div>
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" id="funcionesPV" #funcionesPV type="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (keyup)="controlTeclas($event,funcionesPV)">
          Funciones
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item" type="button" *ngFor="let opFunciones of funciones"
            routerLink="{{opFunciones.url}}">{{opFunciones.nombre}}</button>
        </div>
      </div>
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" id="terceroPV" #terceroPV type="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" (keyup)="controlTeclas($event,terceroPV)">
          Terceros
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item" type="button" *ngFor="let opUsuario of usuarios"
            routerLink="{{opUsuario.url}}">{{opUsuario.nombre}}</button>
        </div>
      </div>
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" id="listadosPV" #listadosPV type="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" (keyup)="controlTeclas($event,listadosPV)">
          Listados
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item" type="button" *ngFor="let opListados of listados" 
            routerLink="{{opListados.url}}">{{opListados.nombre}}</button>
        </div>
      </div>
      <button class="btn btn-primary " type="button" routerLink="/login" (click)="cerrarSesision()" id="cerrar" #cerrar
        aria-haspopup="true" aria-expanded="false" (keyup)="controlTeclas($event,cerrar)">
        Cerrar Sesión<i class="fas fa-sign-out-alt"></i>
      </button>
    </ul>
  </div>
</nav>