<app-menu></app-menu>
<div class="container-fluid main">
  <div class="form-row">
    <h4 class="mt-3">Informe Diario</h4>
  </div>
  <br />
  <div class="form-row">
    <div class="form-group col-md-6 col-sm-12 ">
      <div class="form-row">
        <div class="form-group col-md-6 col-sm-1">
          Fecha Inicial
          <input class="form-control" type="date"   id="fechaIni" #fechaIni>
        </div>
        <div class="form-group col-md-6 col-sm-1">
          Fecha Final
          <input class="form-control" type="date"   id="fechaFin" #fechaFin>
        </div>
      </div> 
      <div class="form-row">
        <div class="form-group col-md-2 col-sm-1">
          <div class="form-row">
            <button type="button" class="btn btn-primary mr-2" (click)="getInformeDiario()">Buscar</button>
          </div>
        </div>
        <div class="form-group col-md-4 col-sm-1">
          <div class="form-row">
            <button type="button" class="btn btn-primary mb-2" >Ralación Entradas/Salidas</button>
          </div>
        </div>
        <div class="form-group col-md-4 col-sm-1">  
          <div class="form-row">
            <button type="button" class="btn btn-primary" data-toggle="modal" (click)="ventaGrupos()" data-target="#gruposModal">
              Grupos y subgrupos
            </button>
          </div>
        </div>
      </div> 
    </div>
    <div class="form-group col-md-1 col-sm-12 "></div>
    <div class="form-group col-md-5 col-sm-12 ">
      <div class="form-row">
        <b>Total: $</b> {{formatearNumber(total)}}
      </div>
      <div class="form-row">
        <b>Total Gravable 5%: $</b>{{formatearNumber(gravable_5)}}
      </div>
      <div class="form-row">
        <b>Total Gravable 19%: $</b>{{formatearNumber(gravable_19)}}
      </div>
      <div class="form-row">
        <b>Total iva 5%: $</b>{{formatearNumber(iva_5)}}
      </div>
      <div class="form-row">
        <b>Total iva 19%: $</b>{{formatearNumber(iva_19)}}
      </div>
      <div class="form-row">
        <b>Exento: $</b>{{formatearNumber(exento)}}
      </div>
    </div>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Opciones</th>
        <th scope="col">Fecha</th>
        <th scope="col">Total</th>
        <th scope="col">Gravables 5%</th>
        <th scope="col">Gravables 19%</th>
        <th scope="col">Iva 5%</th>
        <th scope="col">Iva 19%</th>
        <th scope="col">Exento</th>
        <th scope="col">cant. Docu</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ordenes of informesDiarios">
        <th scope="row">
          <button type="button"  class="btn btn-secondary btn-sm" data-toggle="modal"
            data-target="#detalleModal">
            <i class="fas fa-search"></i>
          </button>
          <!-- Button trigger modal -->
          <button type="button"  class="btn btn-secondary btn-sm" data-toggle="modal" (click)="imprimirInforme(ordenes)">
            <i class="far fa-file-pdf"></i>
          </button>
        </th>
        <td>{{ordenes.fecha_informe| date: 'dd/MM/yyyy'}}</td>
        <td>{{formatearNumber(ordenes.total_ventas)}}</td>
        <td>{{formatearNumber(ordenes.base_5)}}</td>
        <td>{{formatearNumber(ordenes.base_19)}}</td>
        <td>{{formatearNumber(ordenes.iva_5)}}</td>
        <td>{{formatearNumber(ordenes.iva_19)}}</td>
        <td>{{formatearNumber(ordenes.excento)}}</td>
        <td>{{ordenes.cantidad_documentos}}</td>
      </tr>
    </tbody>
  </table>

  <div class="col col-ms-1">
    <a href="#" name="downloadZipLink" #downloadZipLink id="downloadZipLink" download>

    </a>
</div>

<!-- Modal -->
<div class="modal fade" id="gruposModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-row">
          <div class="form-group col-md-6 col-sm-12 ">
            <div class="form-row">
              <div class="form-row" *ngFor="let grupo of grupos">
                <b>{{grupo.nombre}}: $</b>{{formatearNumber(grupo.total)}}
              </div>
            </div>
          </div>
             <div class="form-group col-md-6 col-sm-12 ">
            <div class="form-row">
              <div class="form-row" *ngFor="let subgrupo of subGrupos">
                <b>{{subgrupo.nombre}}: $</b>{{formatearNumber(subgrupo.total)}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
       
      </div>
    </div>
  </div>
</div>
</div>