<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Cuadre de caja</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col col-md-3">
                
              Total facturas
            </div>
            <div class="col col-md-3">
                 <input  class="form-control" [(ngModel)]="cuadreCajaVo.totalFacturas" readonly>
              </div>
              <div class="col col-md-3"></div>
              <div class="col col-md-3"></div> 
        </div>
        <div class="row">
            <div class="col col-md-3">
                Doc. No impresos
            </div>
            <div class="col col-md-3">
                  <input  class="form-control" [(ngModel)]="cuadreCajaVo.documentosNoImpresos" readonly>
              </div>
              <div class="col col-md-3"></div>
              <div class="col col-md-3"></div> 
        </div>
        <div class="row">
            <div class="col col-md-3">
                Abonos del día
            </div>
            <div class="col col-md-3">
                  <input  class="form-control" [(ngModel)]="cuadreCajaVo.abonosDia" readonly>
              </div>
              <div class="col col-md-3"></div>
              <div class="col col-md-3"></div> 
        </div>
        <div class="row">
            <div class="col col-md-3">
                Avance Efectivo
            </div>
            <div class="col col-md-3">
                  <input  class="form-control" [(ngModel)]="cuadreCajaVo.avanceEfectivo" readonly>
              </div>
              <div class="col col-md-3"></div>
              <div class="col col-md-3"></div> 
        </div>
        <div class="row">
            <div class="col col-md-3">
                Cheques recogidos
            </div>
            <div class="col col-md-3">
                  <input  class="form-control" [(ngModel)]="cuadreCajaVo.chequesRecogidos" readonly>
              </div>
              <div class="col col-md-3"></div>
              <div class="col col-md-3"></div> 
        </div>
        <div class="row">
            <div class="col col-md-3">
                Otros 
            </div>
            <div class="col col-md-3">
                  <input  class="form-control" [(ngModel)]="cuadreCajaVo.otros" (blur)="calcularTotalIngresos()">
              </div>
              <div class="col col-md-3"></div>
              <div class="col col-md-3"></div> 
        </div>
        <div class="row">
            <div class="col col-md-3">
                Base
            </div>
            <div class="col col-md-3">
                  <input  class="form-control" [(ngModel)]="cuadreCajaVo.base" (blur)="calcularTotalIngresos()">
              </div>
              <div class="col col-md-3"></div>
              <div class="col col-md-3"></div> 
        </div>
        <div class="row">
            <div class="col col-md-3">
                Consignaciones
            </div>
            <div class="col col-md-3">
                  <input  class="form-control" [(ngModel)]="cuadreCajaVo.consignaciones" readonly>
              </div>
              <div class="col col-md-3"></div>
              <div class="col col-md-3"></div> 
        </div>
        <div class="row">
            <div class="col col-md-3">
                Total Ingresos
            </div>
            <div class="col col-md-3">
                
              </div>
              <div class="col col-md-3">  <input  class="form-control" [(ngModel)]="cuadreCajaVo.totalIngresos" readonly></div>
              <div class="col col-md-3"></div> 
        </div>
        <div class="row">
            <div class="col col-md-3">
                Vr. en fajos
            </div>
            <div class="col col-md-3">
                  <input  class="form-control" [(ngModel)]="cuadreCajaVo.fajos">
              </div>
              <div class="col col-md-3"></div>
              <div class="col col-md-3"></div> 
        </div>
        <div class="row">
            <div class="col col-md-3">
                Moneda
            </div>
            <div class="col col-md-3">
                  <input  class="form-control" [(ngModel)]="cuadreCajaVo.moneda">
              </div>
              <div class="col col-md-3"></div>
              <div class="col col-md-3"></div> 
        </div>
        <div class="row">
            <div class="col col-md-3">
                Efectivo
            </div>
            <div class="col col-md-3">
                  <input  class="form-control" [(ngModel)]="cuadreCajaVo.efectivo">
              </div>
              <div class="col col-md-3"></div>
              <div class="col col-md-3"></div> 
        </div>
        <div class="row">
            <div class="col col-md-3">
                Cheques
            </div>
            <div class="col col-md-3">
                  <input  class="form-control" [(ngModel)]="cuadreCajaVo.cheques">
              </div>
              <div class="col col-md-3"></div>
              <div class="col col-md-3"></div> 
        </div>
        <div class="row">
            <div class="col col-md-3">
                Tarjetas de crédito y débito
            </div>
            <div class="col col-md-3">
                  <input  class="form-control" [(ngModel)]="cuadreCajaVo.tarjetas">
              </div>
              <div class="col col-md-3"></div>
              <div class="col col-md-3"></div> 
        </div>
        <div class="row">
            <div class="col col-md-3">
                Varios
            </div>
            <div class="col col-md-3">
                  <input  class="form-control" [(ngModel)]="cuadreCajaVo.varios">
              </div>
              <div class="col col-md-3"></div>
              <div class="col col-md-3"></div> 
        </div>
        <div class="row">
            <div class="col col-md-3">
                Vales
            </div>
            <div class="col col-md-3">
                  <input  class="form-control" [(ngModel)]="cuadreCajaVo.vales">
              </div>
              <div class="col col-md-3"></div>
              <div class="col col-md-3"></div> 
        </div>
        <div class="row">
            <div class="col col-md-3">
                Cartera
            </div>
            <div class="col col-md-3">
                  <input  class="form-control" [(ngModel)]="cuadreCajaVo.cartera">
              </div>
              <div class="col col-md-3"></div>
              <div class="col col-md-3"></div> 
        </div>
        <div class="row">
            <div class="col col-md-3">
                Gastado
            </div>
            <div class="col col-md-3">
                  <input  class="form-control" [(ngModel)]="cuadreCajaVo.gastado">
              </div>
              <div class="col col-md-3"></div>
              <div class="col col-md-3"></div> 
        </div>
        <div class="row">
            <div class="col col-md-3">
                Nomina
            </div>
            <div class="col col-md-3">
                  <input  class="form-control" [(ngModel)]="cuadreCajaVo.nomina">
              </div>
              <div class="col col-md-3"></div>
              <div class="col col-md-3"></div> 
        </div>
        <div class="row">
            <div class="col col-md-3">
                Descuento
            </div>
            <div class="col col-md-3">
                  <input  class="form-control" [(ngModel)]="cuadreCajaVo.descuento">
              </div>
              <div class="col col-md-3"></div>
              <div class="col col-md-3"></div> 
        </div>
        <div class="row">
            <div class="col col-md-3">
                Propina
            </div>
            <div class="col col-md-3">
                  <input  class="form-control" [(ngModel)]="cuadreCajaVo.propina">
              </div>
              <div class="col col-md-3"></div>
              <div class="col col-md-3"></div> 
        </div>
        <div class="row">
            <div class="col col-md-3">
                Total en caja
            </div>
            <div class="col col-md-3">
                
              </div>
              <div class="col col-md-3">  <input  class="form-control" [(ngModel)]="cuadreCajaVo.totalCaja"></div>
              <div class="col col-md-3"></div> 
        </div>
        <div class="row">
            <div class="col col-md-3">
                Diferencia
            </div>
            <div class="col col-md-3">
                
              </div>
              <div class="col col-md-3"></div>
              <div class="col col-md-3">  <input  class="form-control" [(ngModel)]="cuadreCajaVo.diferencia"></div> 
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary">Limpiar</button>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      <button type="button" class="btn btn-primary">Imprimir</button>
    </div>
  </div>
</div>