<app-menu></app-menu>
<div class="container-fluid main">
    <div class="form-row">
        <h4 class="mt-3">Entradas de almacen</h4>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2 col-sm-2">
            <div class="form-row">
                <div class="form-group col-md-12 col-sm-2">
                    <b>Documento:</b> {{document.documento_id}}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12 col-sm-2">
                    <b> Tipo: </b> {{tipoDocumentoFac()}}
                </div>
            </div>
        </div>
        <div class="form-group col-md-2 col-sm-2"><b>Fecha:</b> {{document.fecha_registro | date: 'dd/MM/yyyy, h:mm a'}}
        </div>
        <div class="form-group col-md-4 col-sm-2">
            <input list="browsers" name="proveedorPV" #proveedorPV placeholder="Proveedor" class="form-control"
                id="proveedorPV" (change)="enterTecla(proveedorPV)" (keydown.esc)="scapeTecla(proveedorPV)">
            <datalist id="browsers">
                <option *ngFor="let proveedor of proveedores" [value]="proveedor.nombre">
                    Identificación: {{proveedor.documento}} id:{{proveedor.proveedor_id}}
                </option>
            </datalist>
        </div>
        <div class="form-group col-md-2 col-sm-2">
            <input name="tipoDocumentoPV" #tipoDocumentoPV placeholder="TIpo Documento" class="form-control"
                id="tipoDocumentoPV" (keyup.E)="enterTecla(tipoDocumentoPV)" (keyup.S)="enterTecla(tipoDocumentoPV)"
                (keyup.G)="enterTecla(tipoDocumentoPV)" (keydown.enter)="enterTecla(tipoDocumentoPV)"
                (keydown.esc)="scapeTecla(tipoDocumentoPV)">
        </div>
        <div class="form-group col-md-2 col-sm-2">
            <input name="detalleEntrada" #detalleEntrada placeholder="Detalle Entrada" class="form-control" id="detalleEntrada"
                (keydown.enter)="enterTecla(detalleEntrada)" 
                (keydown.esc)="scapeTecla(detalleEntrada)">

        </div>
    </div>
    <hr />
    <div class="form-row" *ngIf="modificarFactura">
        <div class="form-group col-md-1 col-sm-2">
            
        </div>
        <div class="form-group col-md-4 ">
            <button type="button" class="btn btn-secondary" id="cambiarPrecioPV" #cambiarPrecioPV
            (keydown.esc)="enterTecla(cambiarPrecioPV)" (keyup)="controlTeclas($event,cambiarPrecioPV)" 
            (click)="cambiarPrecio(cambiarPrecioPV.id)">Cambiar Cantidad</button>
            <button type="button" class="btn btn-secondary ml-1" id="insertarPV" #insertarPV
            (keydown.esc)="enterTecla(insertarPV)" (keyup)="controlTeclas($event,insertarPV)" 
            (click)="insertarModificar()">Insertar</button>
            <button type="button" class="btn btn-secondary ml-1" id="borrarPV" #borrarPV
            (keydown.esc)="enterTecla(borrarPV)" (keyup)="controlTeclas($event,borrarPV)" 
            (click)="asigarEliminar()">Borrar</button>
            <button type="button" class="btn btn-secondary ml-1" id="modificarUnitarioPV" #modificarUnitarioPV
            (keydown.esc)="enterTecla(modificarUnitarioPV)" (keyup)="controlTeclas($event,modificarUnitarioPV)" [disabled]="!cambioPrecioActivo" 
            (click)="cambiarPrecio(modificarUnitarioPV.id)">Unitario</button>
        </div>
        <div class="form-group col-md-3 col-sm-2" *ngIf="claveBorrado" >
            Ingrese La contraseña de alguien con perfil de administrador:

        </div>
        <div class="form-group col-md-2 col-sm-2"  *ngIf="claveBorrado" > 
            <input type="password" name="claveBorradoPV" #claveBorradoPV placeholder="clave administrador" class="form-control"
                    id="claveBorradoPV" (keydown.enter)="enterTecla(claveBorradoPV)"
                    (keydown.esc)="scapeTecla(claveBorradoPV)">
        </div>
    </div>
    <div class="form-row" *ngIf="divGramera">
        <div class="form-group col-md-5 col-sm-2">
            Producto:
           <b> <h1 style="color:darkblue">
                {{productoIdSelect.nombre}}
            </h1></b>
        </div>
        <div class="form-group col-md-5 col-sm-2">
            Peso:
            <h1 style="color:red">
                {{formatearNumber(pesoGramera)}}
            </h1>
        </div>
        <div class="form-group col-md-2 col-sm-2">
            Facturar?:
            <input name="grameraPV" #grameraPV placeholder="S o N" class="form-control" id="grameraPV"
        (keydown.enter)="enterTecla(grameraPV)" (keydown.esc)="scapeTecla(grameraPV)"
        (blur)="ocultarGramera()">
        </div>
        
    </div> 
    <div class="form-row">
        <div class="form-group col-md-1 col-sm-4 d-block d-sm-none" id="divEsc" #divEsc>
            <button type="button" class="btn btn-primary btn-sm" id="escPV" #escPV
                (click)="scapeTecla(escPV)">Escape</button>
        </div>
        <div class="form-group col-md-1 col-sm-4" id="divSiguiente" #divSiguiente>
            <button type="button" class="btn btn-primary btn-sm" id="siguientePV" autofocus #siguientePV
                (keyup)="controlTeclas($event,siguientePV)" (click)="teclaAnteriorSiguiente('s')">Siguiente</button>
        </div>
        <div class="form-group col-md-1 col-sm-4" id="divAnterior" #divAnterior>
            <button type="button" class="btn btn-primary btn-sm" id="anteriorPV" #anteriorPV
                (keyup)="controlTeclas($event,anteriorPV)" (click)="teclaAnteriorSiguiente('a')">Anterior</button>
        </div>
        <div class="form-group col-md-1 col-sm-4" id="divPrimera" #divPrimera>
            <button type="button" class="btn btn-primary btn-sm" id="primeraPV" #primeraPV
                (keyup)="controlTeclas($event,primeraPV)" (keyup.enter)="enterTecla(primeraPV)"
                (click)="teclaAnteriorSiguiente('p')">Primera</button>
        </div>
        <div class="form-group col-md-1 col-sm-4" id="divUltima" #divUltima>
            <button type="button" class="btn btn-primary btn-sm" id="ultimaPV" #ultimaPV
                (keyup)="controlTeclas($event,ultimaPV)" (keyup.enter)="enterTecla(ultimaPV)"
                (click)="teclaAnteriorSiguiente('u')">Ultima</button>
        </div>
        <div class="form-group col-md-1 col-sm-4" id="divBuscar" #divBuscar>
            <button type="button" class="btn btn-primary btn-sm" id="buscarPV" #buscarPV
                (keyup)="controlTeclas($event,buscarPV)" (keyup.enter)="enterTecla(buscarPV)">Buscar</button>
        </div>
        <div class="form-group col-md-1 col-sm-4" id="divCartera" #divCartera>
            <button type="button" class="btn btn-primary btn-sm" id="carteraPV" #carteraPV
                (keyup)="controlTeclas($event,carteraPV)" (keyup.enter)="enterTecla(carteraPV)">Enviar a
                cartera</button>
        </div>
        <div class="form-group col-md-1 col-sm-4" id="divModificar" #divModificar>
            <button type="button" class="btn btn-primary btn-sm" id="modificarPV" #modificarPV
                (click)="modificarEnter()" (keyup)="controlTeclas($event,modificarPV)"
                (keyup.enter)="enterTecla(modificarPV)">Modificar</button>
        </div>
        <div class="form-group col-md-1 col-sm-4" id="divNueva" #divNueva>
            <button type="button" class="btn btn-primary btn-sm" id="nuevaPV" (click)="nuevafactura()" #nuevaPV
                (keyup)="controlTeclas($event,nuevaPV)" (keyup.enter)="enterTecla(nuevaPV)">Nueva</button>
        </div>
        <div class="form-group col-md-1 col-sm-4" id="divImprimir" #divImprimir>
            <button type="button" class="btn btn-primary btn-sm" id="imprimirPV" (click)="imprimirModal()" #imprimirPV
                (keyup)="controlTeclas($event,imprimirPV)" (keyup.enter)="enterTecla(imprimirPV)">Imprimir</button>
        </div>
        <div class="form-group col-md-1 col-sm-4" id="divOpciones" #divOpciones>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" id="opcionPV" #opcionPV type="button"
                    (keyup)="controlTeclas($event,opcionPV)" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Opciones
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <button class="dropdown-item" type="button" *ngFor="let opcion of opciones" #cuadreCajaPV
                        id="{{opcion.url}}" (click)="enterTecla(cuadreCajaPV)">{{opcion.nombre}}</button>
                </div> 
            </div>
        </div>

        <div class="form-group col-md-1 col-sm-4" id="divCostoIva" #divCostoIva>
            <button type="button" class="btn btn-primary btn-sm" id="costoIvaPV" #costoIvaPV
                (keyup)="controlTeclas($event,costoIvaPV)" (keyup.enter)="enterTecla(costoIvaPV)">Costo sin IVA</button>
        </div>

        <div class="form-group col-md-1 col-sm-4" id="divFin" #divFin>
            <button type="button" class="btn btn-primary btn-sm" id="finPV" #finPV (keyup)="controlTeclas($event,finPV)"
                routerLink="/menu" (keyup.enter)="enterTecla(finPV)">Fin</button>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4 col-sm-2">
            <input name="CodigoBarrasPV" #CodigoBarrasPV placeholder="Cod. Barras" class="form-control"
                id="CodigoBarrasPV" (keydown.enter)="enterTecla(CodigoBarrasPV)" (blur)="ocultarCodigoBarras()"
                (keydown.esc)="scapeTecla(CodigoBarrasPV)">
        </div>
          <div class="form-group col-md-5 col-sm-2">  
            <input name="crearProductoPV" #crearProductoPV placeholder="El producto no existe, Desea Crearlo? S/N" class="form-control"
            id="crearProductoPV" (keydown.enter)="enterTecla(crearProductoPV)" (blur)="ocultarCrearProducto()"
            (keydown.esc)="scapeTecla(crearProductoPV)">
          </div>
    </div>
    <div class="form-row">
        <div class="form-group col-sm-2 d-none" id="divCodigo" #divCodigo>
            Código del producto
            <input name="codigoPV" #codigoPV placeholder="Código Prod." class="form-control" id="codigoPV"
                (keydown.enter)="enterTecla(codigoPV)" (keydown.esc)="scapeTecla(codigoPV)">
        </div>
        <div class="form-group col-sm-4 d-none" id="divArticulo" #divArticulo>
            Nombre producto
            <input list="articulos" name="articuloPV" #articuloPV placeholder="Articulo" class="form-control"
                id="articuloPV" (keydown.enter)="enterTecla(articuloPV)" (change)="articuloSelect(articuloPV)"
                (keydown.esc)="scapeTecla(articuloPV)">
            <datalist id="articulos">
                <option *ngFor="let producto of productosAll" [value]="producto.nombre">
                    Costo:{{producto.costo}} | Publico:{{producto.costo_publico}} | Cantidad:{{producto.cantidad}} | id:{{producto.producto_id}}
                </option>
            </datalist>
        </div>
        <div class="form-group col-sm-2 d-none" id="divCantidad" #divCantidad>
            Cantidad
            <input name="cantidadPV" #cantidadPV placeholder="Cantidad" class="form-control" id="cantidadPV"
                (keydown.enter)="enterTecla(cantidadPV)" (keydown.esc)="scapeTecla(cantidadPV)">
            <input name="precioPV" #precioPV placeholder="$ Precio" class="form-control d-none" id="precioPV"
                (keydown.enter)="enterTecla(precioPV)" (keydown.esc)="scapeTecla(precioPV)" (blur)="ocultarPrecio()">

        </div>
        <div class="form-group col-sm-2 d-none" id="divUnitario" #divUnitario>
            Costo Unitario
            <input type="text" class="form-control mb-2 mr-sm-2" placeholder="$ Costo Unitario" id="unitarioPV"
                name="unitarioPV" #unitarioPV  (keydown.enter)="enterTecla(unitarioPV)"
                (keydown.esc)="scapeTecla(unitarioPV)">
        </div>
        <div class="form-group col-sm-2 d-none" id="divParcial" #divParcial>
            Costo Publico
            <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Unitario Venta" id="unitarioVentaPV"
            (keydown.enter)="enterTecla(unitarioVentaPV)" (keydown.esc)="scapeTecla(unitarioVentaPV)"
            name="unitarioVentaPV" #unitarioVentaPV>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-sm-6 col-md-12 d-none" id="divImprimirModal" #divImprimirModal>
            <div class="row ">

                <div class="col col-ms-2 ">
                    <h6 #descuentoLavel name="descuentoLavel" id="descuentoLavel" class="d-none">Descuento: </h6>
                    <input name="descuentoPV" #descuentoPV placeholder="Descuento" class="form-control d-none"
                        id="descuentoPV" (keydown.enter)="enterTecla(descuentoPV)"
                        (keydown.esc)="scapeTecla(descuentoPV)">
                </div>
                <div class="col col-ms-1 ">
                    <h6 class="d-none" #impresoraLavel name="impresoraLavel" id="impresoraLavel">Impresora: </h6>
                    <input name="impresoraPV" #impresoraPV placeholder="Impresora" class="form-control d-none"
                        id="impresoraPV" (keydown.enter)="enterTecla(impresoraPV)"
                        (keydown.esc)="scapeTecla(impresoraPV)">
                </div>

                <div class="col col-ms-1">
                    <h6 class="d-none" #tipoPagoLavel name="tipoPagoLavel" id="tipoPagoLavel">Tipo de Pago: </h6>
                    <input name="tipoPagoPV" #tipoPagoPV class="form-control" id="tipoPagoPV" data-toggle="tooltip"
                        title="" (keydown.enter)="enterTecla(tipoPagoPV)" (keydown.esc)="scapeTecla(tipoPagoPV)">
                </div>
                <div class="col col-ms-1">
                    <h6 class="d-none" #valorTipoPagoLavel name="valorTipoPagoLavel" id="valorTipoPagoLavel">Valor
                        pago: </h6>
                    <input name="valorTipoPagoPV" #valorTipoPagoPV placeholder="Valor tipo Pago"
                        class="form-control" id="valorTipoPagoPV" (keydown.enter)="enterTecla(valorTipoPagoPV)"
                        (keydown.esc)="scapeTecla(valorTipoPagoPV)">
                </div>
                <div class="col col-ms-1">
                    <h6>Efectivo: </h6>
                    <input name="efectovoPV" #efectovoPV placeholder="Efectivo" class="form-control" id="efectovoPV"
                        (keydown.enter)="enterTecla(efectovoPV)" (keydown.esc)="scapeTecla(efectovoPV)">
                </div>
                <div class="col col-ms-1">
                    <h5>Cambio:</h5>
                    <h4 style="color:red">{{document.cambio}}</h4>
                </div>
                <div class="col col-ms-1">
                    <h6>Imprimir en pantalla?: </h6>
                    <input name="enPantallaPV" #enPantallaPV placeholder="S/N?" class="form-control"
                        id="enPantallaPV" (keydown.enter)="enterTecla(enPantallaPV)"
                        (keydown.esc)="scapeTecla(enPantallaPV)">
                </div>

                <div class="col col-ms-2">
                    <h6>Continúa Impresión? </h6>
                    <input name="continuaImpresionPV" #continuaImpresionPV placeholder="S/N?" class="form-control"
                        id="continuaImpresionPV" (keydown.enter)="enterTecla(continuaImpresionPV)"
                        (keydown.esc)="scapeTecla(continuaImpresionPV)"
                        (keydown.S)="enterTecla(continuaImpresionPV)" (keydown.N)="cancelarImpresion()">
                </div>

            </div>
        </div>
    </div>

    <div class="form-row col-md-12 ">
        <div class="form-group col-md-9 col-sm-6 border border-primary ">
            <table class="table table-hover letra_tabla">
                <thead>
                    <tr>
                        <th scope="col col-md-2 col-sm-1">op</th>
                        <th scope="col col-md-2 col-sm-1">Cod</th>
                        <th scope="col col-md-4 col-sm-4">Artículo</th>
                        <th scope="col col-md-2 col-sm-2">Cantidad</th>
                        <th scope="col col-md-2 col-sm-2">Unitario</th>
                        <th scope="col col-md-2 col-sm-2">Parcial</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let producto of productos">
                        <td  >
                            <button type="button" class="btn btn-secondary"  #borrar id="b_{{producto.documento_detalle_id}}"
                            (keydown.esc)="enterTecla(borrar)" (keyup)="controlTeclas($event,borrar)" 
                            (click)="borrarLista(producto,borrar)">Borrar</button>
                        </td>
                        <td  >{{producto.producto_id}}</td>
                        <td>{{producto.descripcion}}</td>
                        <td>
                            <input  class="form-control " #canti id="c_{{producto.documento_detalle_id}}"
                             value="{{producto.cantidad}}"  (keydown.enter)="cambioPrecioLista(producto,canti)"
                              (keydown.esc)="scapeTecla(this)" (keyup)="controlTeclas($event,canti)" >
                        </td>
                        <td>
                            <input  class="form-control " #box id="p_{{producto.documento_detalle_id}}" 
                            value="{{formatearNumber(producto.unitario)}}"   [disabled]="!cambioPrecioActivo"
                            (keydown.enter)="cambioPrecioLista(producto,box)" (keydown.esc)="scapeTecla(this)" (keyup)="controlTeclas($event,box)" >
                            
                        </td>
                        <td>{{formatearNumber(producto.parcial)}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="form-group col-md-3 col-sm-6 border border-primary ">
            <div class="form-row ">
                <div class="form-group col-md-4">
                    Peso kg:
                </div>
                <div class="form-group col-md-8">
                    <h3 style="text-align: right;"> {{formatearNumber(document.peso_total)}}</h3>
                </div>
            </div>
            <div class="form-row ">
                <div class="form-group col-md-4">
                    Vr Exento:
                </div>
                <div class="form-group col-md-8">
                    <h2 style="text-align: right;">{{formatearNumber(document.excento)}}</h2>
                </div>
            </div>
            <div class="form-row ">
                <div class="form-group col-md-4">
                    Vr Gravado:
                </div>
                <div class="form-group col-md-8">
                    <h2 style="text-align: right; ">{{formatearNumber(document.gravado)}}</h2>
                </div>
            </div>
            <div class="form-row ">
                <div class="form-group col-md-4">
                    Vr Iva:
                </div>
                <div class="form-group col-md-8">
                    <h2 style="text-align: right; ">{{formatearNumber(document.iva)}}</h2>
                </div>
            </div>
            <div class="form-row ">
                <div class="form-group col-md-4">
                    Total:
                </div>
                <div class="form-group col-md-8">
                    <h2 style="color:red;text-align: right; ">
                        {{formatearNumber(document.total)
                            }}
                    </h2>
                </div>
            </div>
        </div>
    </div>
    
  <!-- crear producto Modal -->
  <div class="modal fade" id="crearProductoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Crear Producto</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-row">
            <div class="form-group col-md-6 col-sm-6">
              Primer nombre
              <input class="form-control" id="nombreproductoNew" placeholder="* Nombre Producto" name="nombreproductoNew"
                #nombreproductoNew required [(ngModel)]="productoNew.nombre">
            </div>
            <div class="form-group col-md-6 col-sm-6">
              Grupo
              <select id="grupo" name="grupoPV" #grupoPV placeholder=""
                [(ngModel)]="productoNew.grupo_id" class="form-control">
                <option value="">Seleccione</option>
                <option *ngFor="let grupo of grupoList" [value]="grupo.grupo_id">
                   {{grupo.nombre}}
                </option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6 col-sm-6">
              Proveedor
              <select id="proveedorCrear" name="proveedorCrear" #proveedorCrear placeholder=""
                [(ngModel)]="productoNew.proveedor_id" class="form-control">
                <option value="">Seleccione</option>
                <option *ngFor="let proveedor of proveedores" [value]="proveedor.proveedor_id">
                  {{proveedor.nombre}}
               </option>
              </select>
            </div>
            <div class="form-group col-md-6 col-sm-6">
              Marca
              <select id="marca" name="marcaPV" #marcaPV placeholder=""
                [(ngModel)]="productoNew.marca_id" class="form-control">
                <option value="">Seleccione</option>
                <option *ngFor="let marca of marcaList" [value]="marca.marca_id">
                   {{marca.nombre}}
                </option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6 col-sm-6">
              Precio de compra
              <input class="form-control" id="costo" placeholder="* Precio de compra"
              name="costoPV" #costoPV required [(ngModel)]="productoNew.costo">
            </div>
            <div class="form-group col-md-6 col-sm-6">
              Precio de venta
              <input class="form-control" id="costoPublicoPV" placeholder="* Precio de venta"
              name="costoPublicoPV" #costoPublicoPV required [(ngModel)]="productoNew.costo_publico">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6 col-sm-6">
              Impuesto
              <input class="form-control" id="impuestoPV" placeholder="Iva o Ipoconsumo"
              name="impuestoPV" #impuestoPV required [(ngModel)]="productoNew.impuesto">
            </div>
            <div class="form-group col-md-6 col-sm-6">
              Stock Mínimo
              <input class="form-control" id="stockMin" placeholder="Stock mínimo" name="stockMin" #stockMin
                required [(ngModel)]="productoNew.stock_min">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6 col-sm-6">
              Stock Máximo
              <input class="form-control" id="celular" placeholder="Stock Máximo" name="stockMax" #stockMax required
                [(ngModel)]="productoNew.stock_max">
            </div>
            <div class="form-group col-md-6 col-sm-6">
              Codigo de barras
              <input class="form-control" id="codBarrasPv" placeholder="Codigo de barras" name="codBarrasPv"
                #codBarrasPv required [(ngModel)]="productoNew.codigo_barras">
            </div>
          </div>
          <div class="form-row">
             
            <div class="form-group col-md-6 col-sm-6">    
                % ganancia      
              <input class="form-control" id="ganancia" placeholder="% ganancia" name="ganancia" #ganancia required
                [(ngModel)]="productoNew.porcentaje_venta">
            </div>
            <div class="form-group col-md-6 col-sm-6">
              Fecha vencimiento
              <input class="form-control" id="vencimiento" placeholder="Fecha vencimiento" type="date" name="vencimiento"
                #vencimiento  [(ngModel)]="productoNew.fecha_vencimiento">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6 col-sm-6">
              Peso
              <input class="form-control" id="peso"  placeholder="peso"
                name="peso" #peso required [(ngModel)]="productoNew.peso">
            </div>
            <div class="form-group col-md-6 col-sm-6">

            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-3 col-sm-6">
              Balanza
              <input class="form-control" id="BalanzaPV"  placeholder="1 o 0"
                name="peso" #peso required [(ngModel)]="productoNew.balanza">
            </div>
            <div class="form-group col-md-3 col-sm-6">
              Varios
              <input class="form-control" id="varios"  placeholder="1 o 0"
                name="varios" #varios required [(ngModel)]="productoNew.varios">
            </div>
            <div class="form-group col-md-3 col-sm-6">
              Sub producto
              <input class="form-control" id="subproducto"  placeholder="1 o 0"
                name="subproducto" #subproducto required [(ngModel)]="productoNew.sub_producto">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" (click)="CrearProducto()">Crear</button>
        </div>
      </div>
    </div>
  </div>

    <div class="col col-ms-1">
        <a href="#" name="downloadZipLink" #downloadZipLink id="downloadZipLink" download>

        </a>
    </div>
     <!-- Button trigger modal .d-none se repete esta parte para todos las pantallas de opciones de punto de venta dia -->
     <button type="button" class="btn btn-primary d-none" id="cuadreCajaModal" #cuadreCajaModal data-toggle="modal"
     data-target="#cuadreCajaModa">
     Launch demo modal
 </button>
 <!-- Modal cuadre de caja -->
 <div class="modal fade" id="cuadreCajaModa" tabindex="-1" role="dialog" aria-labelledby="cuadreCajaModalLabel"
     aria-hidden="true">
     <app-cuadre-caja></app-cuadre-caja>
 </div>

   <button type="button" class="btn btn-primary d-none" id="buscarDocumentoXFecha" #buscarDocumentoXFecha data-toggle="modal"
   data-target="#buscarDocumentoXFech">
   Launch demo modal
</button>
<!-- Modalbuscar documentos -->
<div class="modal fade" id="buscarDocumentoXFech" tabindex="-1" role="dialog" aria-labelledby="cuadreCajaModalLabel"
   aria-hidden="true">
   <app-buscar-documentos></app-buscar-documentos>
</div>
</div>