
<div class="container-fluid main">
  <div class="form-row">
    <h4 class="mt-3" style="color:blanchedalmond">Tutoriales</h4>
  </div>
  <br />
  <br />
  <a href="https://www.youtube.com/watch?v=7hyrQBPHLDA"   target="_blank" style="color:blanchedalmond">Ingreso al sistema</a>
  <br />
  <a href="https://www.youtube.com/watch?v=Ny9xk3-kGlQ"   target="_blank" style="color:blanchedalmond">Creación de productos por inventario fisico</a>
  <br />
  <a href="https://www.youtube.com/watch?v=BX7NhG4RoYw"   target="_blank" style="color:blanchedalmond">Creación de productos por entradas de almacen</a>
  <br />
  <a href="https://www.youtube.com/watch?v=ZvUS5L-_eho"   target="_blank" style="color:blanchedalmond">Edición de productos por ventas Día</a>
  <br />
  <a href="https://www.youtube.com/watch?v=sXOvKHBYGVQ"   target="_blank" style="color:blanchedalmond">Edición de productos por inventario fisico</a>
  <br />
  <a href="https://www.youtube.com/watch?v=VPGUxlLa_TQ"   target="_blank" style="color:blanchedalmond">Creación de grupo</a>
  <br />
  <a href="https://www.youtube.com/watch?v=ZmGGZVOggM8"   target="_blank" style="color:blanchedalmond">Inventario fisico</a>
  <br />
  <a href="https://www.youtube.com/watch?v=WPpO_m5tKU0"   target="_blank" style="color:blanchedalmond">Leberar cuadre de caja</a>

</div>