<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Gestión trabajos externos</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      
      <div class="form-row">
        <div class="form-group col-md-6">Proveedor
          <input list="browsersList" name="proveedorPV" #proveedorPV placeholder="Proveedor" class="form-control" id="proveedor">
          <datalist id="browsersList">
            <option *ngFor="let prov of proveedores" [value]=" prov.nombre+' '+prov.apellidos+' - '+prov.documento">
              Cod. interno: {{prov.proveedor_id}}
            </option>
          </datalist>
        </div>
        <div class="form-group col-md-3">
          Fecha Inicial
          <input class="form-control" type="date" id="fechaIni" #fechaIni>
        </div>
        <div class="form-group col-md-3">
          Fecha Final
          <input class="form-control" type="date" id="fechaFin" #fechaFin>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md4">
          Estado
          <select id="estadoPV" name="estadoPV" #estadoPV placeholder="" class="form-control"
          >
          <option value="">Seleccione</option>
          <!-- <option *ngFor="let pago of pagosEmpleados" [value]="pago.pago_empleado_id">
            {{pago.nombre}}
          </option>-->
        </select>
        </div>
        <div class="form-group col-md4">
          # de Orden
          <input class="form-control" id="ordenPV" placeholder="# Orden" name="ordenPV" #ordenPV>
        </div>
        <div class="form-group col-md4">
          <h5><b>Vr. Total:</b></h5>  <h5>${{formatearNumber(1)}}</h5>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <button type="button" class="btn btn-primary mr-2" (click)="buscar(proveedorPV,fechaIni,fechaFin,estadoPV,ordenPV)">Buscar</button>
          <button type="button" class="btn btn-primary ml-2" data-toggle="modal" data-target="#crearDocumentoModal">
            Crear Documento
          </button>
          <button type="button" class="btn btn-primary ml-2"
          (click)="exportTableToExcel()"><i class="far fa-file-excel"></i> Exportar xls </button>
        </div>
     
      </div>
    
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Opciones</th>
            <th scope="col">Fecha Registro</th>
            <th scope="col">Proveedor</th>
            <th scope="col">N° Orden</th>
            <th scope="col">Valor</th>
            <th scope="col">Saldo</th> 
            <th scope="col">Producto</th> 
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ordenes of detalles">
            <th scope="row">
              <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" title="Detalle"
                data-target="#detalleModal"  (click)="detalleAbonos(ordenes)" >
                <i class="fas fa-search"></i>
              </button>
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-secondary btn-sm" title="Crear Abono" data-toggle="modal"
                data-target="#crearAbonoModal" (click)="selectDocumento(ordenes)">
                <i class="fas fa-plus-circle"></i>
              </button>
              <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" (click)="imprimirInforme(ordenes)" title="Imprimir abonos"
                >
                <i class="fas fa-print"></i>
              </button>
            </th>
            <td>{{ordenes.fecha_registro| date: 'dd/MM/yyyy'}}</td>
            <td>{{nombreProveedorFun(ordenes.proveedor_id)}}</td>
            <td>{{ordenes.documento_id}}</td>
            <td>{{formatearNumber(ordenes.parcial)}}</td>
            <td>{{formatearNumber(ordenes.saldo)}}</td>
            <td>{{ordenes.descripcion}}</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>