<app-menu></app-menu>
<div class="container-fluid main">
  <div class="form-row">
    <h4 class="mt-3">Estado de documentos facturación Electronica</h4>
  </div>
  <br />
  <div class="form-row">
    <div class="form-group col-md-4 col-sm-1">
      Fecha Inicial
      <input class="form-control" type="date" id="fechaIni" #fechaIni>
    </div>
    <div class="form-group col-md-4 col-sm-1">
      Fecha Final
      <input class="form-control" type="date" id="fechaFin" #fechaFin>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4 col-sm-6">
      Consecutivo DIAN
      <input class="form-control" id="consecutivoDianBuscar" placeholder="Consecutivo DIAN"
        name="consecutivoDianBuscar" #consecutivoDianBuscar>
    </div>
    <div class="form-group col-md-4 col-sm-6">
      Número documento interno
      <input class="form-control" id="internoBuscar" placeholder="Número de documento interno" name="internoBuscar"
        #internoBuscar>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4 col-sm-6">
      Estado Documento
      <select id="estadoDocumento" name="estadoDocumento" #estadoDocumento placeholder="" class="form-control">
        <option value="">Seleccione</option>
        <option *ngFor="let estado of estadosDocumento" [value]="estado.invoice_id">
          {{estado.nombre}}
        </option>
      </select>
    </div>
    <div class="form-group col-md-9 col-sm-6">  
          <button type="button" class="btn btn-primary mr-1" (click)="buscar(estadoDocumento)" >Buscar</button>
          <button type="button" class="btn btn-primary" (click)="validarEnviar()">Enviar</button>
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="checkAll" #checkAll (change)="selectAll($event)">
            <label class="custom-control-label" for="checkAll">Seleccionar Todo</label>
          </div>
    </div>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Opciones</th>
        <th scope="col">Consecutivo</th>
        <th scope="col">Estado final</th>
        <th scope="col">Total Factura</th>
        <th scope="col">Tipo Documento</th>
        <th scope="col">Fecha de generación</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ordenes of documentos">
        <th scope="row">
          <button type="button" (click)="invoiceDocumento(ordenes)" title="Detalle" class="btn btn-secondary btn-sm mr-1"
            data-toggle="modal" data-target="#estadosModal">
            <i class="fas fa-search"></i>
          </button>
          <button type="button" (click)="enviarUno(ordenes)" title="Reenviar a la DIAN" class="btn btn-secondary btn-sm mr-1" [disabled]="ordenes.invoice_id!=4"
          data-toggle="modal" data-target="#exampleModal">
          <i class="fas fa-sync"></i>
        </button>
        <button type="button" (click)="descargarPDF(ordenes)" title="Descargar Representación grafica" class="btn btn-secondary btn-sm mr-1" [disabled]="ordenes.invoice_id!=5"
          data-toggle="modal" >
          <i class="far fa-file-pdf"></i>
        </button>
        <button type="button" (click)="descargarXML(ordenes)" title="Descargar XML" class="btn btn-secondary btn-sm mr-1" [disabled]="ordenes.invoice_id!=5"
       >
        <i class="far fa-file-code"></i>
      </button>
          <input type="checkbox" class="form-check-input ml-3 allti" id="{{ordenes.documento_id}}"
            (change)="selectOrdenOne(ordenes,$event)">
        </th>
        <td>{{(ordenes.consecutivo_dian)}}</td>
        <td> {{nombreEstado(ordenes.invoice_id)}}</td>
        <td>${{formatearNumber(ordenes.total)}}</td>
        <td>{{(ordenes.tipo_documento_id)}}</td>
        <td>{{ordenes.fecha_registro | date: 'dd/MM/yyyy, h:mm a'}}</td>
      </tr>
    </tbody>
  </table>

   <!-- confirmacion Modal -->
   <div class="modal fade" id="envioModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
   aria-hidden="true">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="exampleModalLabel">Enviar documentos seleccionados a la DIAN</h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
         Los documentos seleccionados serán enviados a la DIAN mediante facturación electrónica, está seguro de
         enviarlos?
         <br />
         <h6>Documentos a enviar: {{documentoMap.length}}</h6>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
         <button type="button" class="btn btn-primary" (click)="enviarDocumentos()">Enviar</button>
       </div>
     </div>
   </div>
 </div>
 <!-- enviardo Modal -->
 <div class="modal fade bd-example-modal-sm" id="enviardoModal" tabindex="-1" role="dialog"
   aria-labelledby="exampleModalLabel" data-backdrop="static" data-keyboard="false">
   <div class="modal-dialog modal-sm" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="exampleModalLabel">Enviando documentos seleccionados a la DIAN</h5>
       </div>
       <div class="modal-body">
         <p>Documentos a enviar: {{documentoMap.length}}</p>
         <p>Documentos enviados: {{enviados}}</p>
         <p>Documentos exitosos: {{exitosos}}</p>
         <p>Documentos erroneos: {{erroneos}}</p>

         <div class="spinner-border" role="status" *ngIf="enviando">
           <span class="sr-only">Loading...</span>
         </div>


       </div>

       <div class="modal-footer">
         <button type="button" class="btn btn-primary" id="ok" data-dismiss="modal" disabled>Ok</button>
       </div>
     </div>
   </div>
 </div>

 <!-- Modal estados-->
<div class="modal fade" id="estadosModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Estados de envio del documento</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Estado</th>
              <th scope="col">Mensaje</th>
              <th scope="col">Fecha</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ordenes of invoicesDocumento">
              <td> {{nombreEstado(ordenes.invoice_id)}}</td>
              <td>{{ordenes.mensaje}}</td>
              <td>{{ordenes.fecha_registro | date: 'dd/MM/yyyy, h:mm a'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

 <div class="col col-ms-1">
  <a href="#" name="downloadZipLink" #downloadZipLink id="downloadZipLink" download>
  </a>
</div>

</div>