<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Buscar documentos por fecha</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-row">
        <div class="form-group col-md-6 col-sm-6">
          Cajero
          <select id="cajeroBuscar" name="cajeroBuscar" #cajeroBuscar class="form-control">
            <option value="">Seleccione</option>
            <option *ngFor="let cajero of usuarios" [value]="cajero.usuario_id">
              {{cajero.nombre}}
            </option>
          </select>
        </div>
        <div class="form-group col-md-6 col-sm-6">
          Empleado
          <select id="empleadoBuscar" name="empleadoBuscar" #empleadoBuscar class="form-control">
            <option value="">Seleccione</option>
            <option *ngFor="let empleado of empleados" [value]="empleado.empleado_id">
              {{empleado.nombre}}
            </option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6 col-sm-1">
          Fecha Inicial
          <input class="form-control" type="date" id="fechaIniBuscar" [value]="fechaI" #fechaIniBuscar>
        </div>
        <div class="form-group col-md-6 col-sm-1">
          Fecha Final
          <input class="form-control" type="date" id="fechaFinBuscar" value="2022-12-31" #fechaFinBuscar>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6 col-sm-6">
          Consecutivo DIAN
          <input class="form-control" id="consecutivoDianBuscar" placeholder="Consecutivo DIAN"
            name="consecutivoDianBuscar" #consecutivoDianBuscar>
        </div>
        <div class="form-group col-md-6 col-sm-6">
          Número documento interno
          <input class="form-control" id="internoBuscar" placeholder="Número de documento interno" name="internoBuscar"
            #internoBuscar>
        </div>

      </div>
      <div class="form-row">
        <div class="form-group col-md-6 col-sm-6">
          Cliente
          <input list="browsers" name="clientePV1" #clientePV1 placeholder="Cliente" class="form-control"
            id="clientePV1">
        </div>
        <div class="form-group col-md-6 col-sm-6">
          Proveedor
          <input class="form-control" list="proveedoresList" id="proveedorBuscar" placeholder="Proveedor"
            name="proveedorBuscar" #proveedorBuscar>
          <datalist id="proveedoresList">
            <option *ngFor="let proveedor of proveedores" [value]="proveedor.nombre">
              Identificación: {{proveedor.documento}} id:{{proveedor.proveedor_id}}
            </option>
          </datalist>
        </div>

      </div>
      <div class="form-row">
        <div class="form-group col-md-6 col-sm-1">
          Tipo Documento
          <select id="tipoDocumento" name="tipoDocumento" #tipoDocumento placeholder="" class="form-control">
            <option value="">Seleccione</option>
            <option *ngFor="let tipo of tiposDocumento" [value]="tipo.tipo_documento_id">
              {{tipo.nombre}}
            </option>
          </select>
        </div>
        <div class="form-group col-md-6 col-sm-1">
          <button type="button" class="btn btn-primary" (click)="buscarDocumentos()">Buscar</button>
          <button type="button" class="btn btn-secondary ml-1" data-dismiss="modal">Cerrar</button>
        </div>
      </div>

      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Opciones</th>
            <th scope="col"># interno</th>
            <th scope="col">DIAN</th>
            <th scope="col">Valor Total</th>
            <th scope="col">Saldo</th>
            <th scope="col">Fecha</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let documento of documentos">
            <th scope="row">
              <button type="button" class="btn btn-primary btn-sm" title="Detalle" data-toggle="modal"
                data-target="#detalleDocumentoModal" (click)="detalleDocumento(documento)">
                <i class="fas fa-search"></i>
              </button>
              <button type="button" class="btn btn-primary btn-sm" [disabled]="!editarFacturaActivo"
                (click)="editarFactura(documento)" title="Editar factura">
                <i class="fas fa-edit"></i>
              </button>
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary btn-sm" [disabled]="!copiaFacturaActivo"
                (click)="imprimirCopia(documento)" title="Imprimir Copia">
                <i class="fas fa-print"></i>
              </button>
              <button type="button" class="btn btn-primary btn-sm" [disabled]="!anularFacturaActivo"
                title="Crear nota crédito/débito" data-toggle="modal" data-target="#notaModal"
                (click)="detalleDocumento(documento)">
                <i class="far fa-trash-alt"></i>
              </button>
              <button type="button" class="btn btn-primary btn-sm" [disabled]="!cambioFechaActivo" title="Cambiar fecha"
                data-toggle="modal" data-target="#cambioFechaModal"  (click)="detalleDocumento(documento)">
                <i class="fas fa-calendar-alt"></i>
              </button>
            </th>
            <td>{{documento.documento_id}}</td>
            <td>{{documento.consecutivo_dian}}</td>
            <td>{{formatearNumber(documento.total)}}</td>
            <td>{{formatearNumber(documento.saldo)}}</td>
            <td>{{documento.fecha_registro| date: 'dd/MM/yyyy'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Modal buscar -->
  <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" id="detalleDocumentoModal"
    aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Detalle factura</h5>
          <button type="button" class="close" (click)="closeModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-row">
            <div class="form-group col-md-8 col-sm-1">
              <b>Consecutivo Dian: </b>
            </div>
            <div class="form-group col-md-4 col-sm-1">
              {{documentoSelect.consecutivo_dian}}
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-8 col-sm-1">
              <b>Número interno: </b>
            </div>
            <div class="form-group col-md-4 col-sm-1">
              {{documentoSelect.documento_id}}
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-8 col-sm-1">
              <b>Fecha: </b>
            </div>
            <div class="form-group col-md-4 col-sm-1">
              {{documentoSelect.fecha_registro| date: 'dd/MM/yyyy'}}
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-8 col-sm-1">
              <b>Total: </b>
            </div>
            <div class="form-group col-md-4 col-sm-1">
              {{formatearNumber(documentoSelect.total)}}
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-8 col-sm-1">
              <b>Saldo: </b>
            </div>
            <div class="form-group col-md-4 col-sm-1">
              {{formatearNumber(documentoSelect.saldo)}}
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-8 col-sm-1">
              <b>Cliente: </b>
            </div>
            <div class="form-group col-md-4 col-sm-1">
              {{nombreClienteFun(documentoSelect.cliente_id)}}
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-8 col-sm-1">
              <b>Proveedor: </b>
            </div>
            <div class="form-group col-md-4 col-sm-1">

            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-8 col-sm-1">
              <b>Tipos Pago: </b>
            </div>

          </div>
          <div class="form-row">
            <div class="form-group col-md-12 col-sm-1">
              {{tipos}}
            </div>
          </div>

          Detalle Factura
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Nombre Producto</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Valor</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of itemsFactura">
                <td>{{item.descripcion}}</td>
                <td>{{item.cantidad}}</td>
                <td>{{formatearNumber(item.parcial)}}</td>

              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeModal()">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal cambio fecha -->
  <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" id="cambioFechaModal"
    aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Cambio de fecha</h5>
          <button type="button" class="close" (click)="closeModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-row">
            <div class="form-group col-md-4 col-sm-1">
              <b>Fecha deseada: </b>
            </div>
            <div class="form-group col-md-8 col-sm-1">
              <input class="form-control" type="date"  id="cambioFech" #cambioFech (change)="cambioFecha(cambioFech)">
            </div>
          </div>
         
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeModal()">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="notaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Crear Nota Crédito/Débito</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-row">
            <div class="form-group col-md-8 col-sm-1">
              <b>Factura relacionada: </b>
            </div>
            <div class="form-group col-md-4 col-sm-1">
              {{documentoSelect.consecutivo_dian}}
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-8 col-sm-1">
              <b># Interno Factura relacionada: </b>
            </div>
            <div class="form-group col-md-4 col-sm-1">
              {{documentoSelect.documento_id}}
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-8 col-sm-1">
              <b>Total Nota: </b>
            </div>
            <div class="form-group col-md-4 col-sm-1">
              {{formatearNumber(documentoSelect.total)}}
            </div>
          </div>
          <div class="form-row">
            <div class="form-group  col-sm-12">
              Descripción corrección:
            </div>
            <div class="form-group  col-sm-12">
              <textarea class="form-control " id="observacion" #observacion
                placeholder="Descripción corrección"></textarea>
            </div>
          </div>
          <div class="form-row">

            <div class="form-group col-sm-8">
              Articulo
              <input list="articulos" name="articuloBuscar" #articuloBuscar placeholder="Articulo" class="form-control"
                id="articuloBuscar" (change)="articuloSelect(articuloBuscar) ">
            </div>
            <div class="form-group col-md-3 col-sm-1">
              Cantidad
              <input name="cantidadNota" #cantidadNota placeholder="Cantidad" class="form-control">
            </div>
            <div class="form-group col-md-1 col-sm-1">
              <button type="button" class="btn btn-primary mt-4" title="Adjuntar producto"
                (click)="adjuntarProducto(cantidadNota) "><i class="fas fa-plus"></i></button>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6 col-sm-1">

              <button type="button" class="btn btn-primary mr-1" (click)="confirmarNota(observacion)">Confirmar</button>
              <button type="button" class="btn btn-secondary" (click)="cerrarNota()">Salir</button>
            </div>
          </div>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Opciones</th>
                <th scope="col">Producto</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Valor Uni.</th>
                <th scope="col">Valor Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of itemsFactura">
                <th scope="row">
                  <button type="button" id="d_{{item.documento_detalle_id}}" #borraR class="btn btn-secondary btn-sm"
                    title="Eliminar Producto" (click)="borrarItem(borraR)">
                    <i class="fas fa-trash"></i>
                  </button>
                </th>
                <td>{{item.descripcion}}</td>
                <td><input name="cantidadNota" #cantidadNota placeholder="Cantidad" class="form-control"
                    id="c_{{item.documento_detalle_id}}" (blur)="cambioCantidad(cantidadNota)"
                    value="{{item.cantidad}}">
                </td>
                <td>
                  <input name="unitarioNota" #unitarioNota placeholder="Unitario" class="form-control"
                    id="u_{{item.documento_detalle_id}}" (blur)="cambioUnitario(unitarioNota)"
                    value="{{item.unitario}}">
                </td>
                <td>{{formatearNumber(item.parcial)}}</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>

  <div class="col col-ms-1">
    <a href="#" name="downloadZipLink" #downloadZipLink id="downloadZipLink" download>

    </a>
  </div>
</div>